body {
	background-image: url("/procrasdonate_media/img/StripeBG.png");			
	color: #330000;
	margin:0em;
	padding:0em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

a, .link { color:#336699; text-decoration:underline; cursor: pointer; }
a:hover, .link:hover { color:#FF9900; text-decoration:underline; cursor: pointer; }
a img { border: none; }

img { -ms-interpolation-mode:bicubic; }
.img_link { text-decoration: none; cursor: pointer; }

.paragraph_list li { margin-top: 1em; }

/*
 colors (solid, dark unless stated otherwise):
   brighter blue 46C4F2
   bright blue 00B0F0
   middle blue 0099D8
   dark blue 1C5492
   deep blue (sidebar) 003366
   soft blue (sidebar and links) 336699
   grey 89958c
   dark bluegreen 156451
   soft green (sidebar) 669933
   purple 6C0B5D
   red (menu border) 8A4304
   bright orange FF9900
   darker orange 
	brown header text cd8047 (was cc9966 and b15b1c)
   dark brown text (was 330000)
   yellow chart background f7edb4
   beige highlight for accounting FBFBDE
*/

.new { color: #F37F19; }
.odd { background: #FAF3F4; }
.errorlist { list-style-type: none; color: red; }
.error, .errors, #error, #errors { color: red; text-align: center; }
.success, #success { color: green; text-align: center; }

#static_menu {
  font-size: 1.2em;
  position: absolute;
  margin: 2em auto auto 1.7em;
  width: 8.9em;
  text-align: center;
}
#static_menu div { display: block; padding: 0.3em 0em; margin: 1em 0em; }

#content {
  margin: auto;
  min-width: 40em;
  margin: 1.6em auto auto 0em;
  position: absolute;
  left: 12em;
  /*top: 2em;*/
}
#thin_column { width: 85%; margin: auto; padding-left: 6em;  padding-bottom: 1em; }
#footer { font-size: .8em; height: 5em;  font-weight: normal; margin: auto; padding-top: 2em; }


#MainMenu { background: #bb8230; border: 0.34em ridge #8A4304; -moz-border-radius: .4em; }
#MainMenu div { background: #b47925; border-top: 0.1em dotted #DBBF75; -moz-border-radius: 0em; }
#MainMenu div a { font-variant: small-caps; letter-spacing: .1em; text-decoration: none; color: #f9fdf4; }
#MainMenu .here_we_are { background: #dbbf75; border-top: 0.1em dotted white; }
#MainMenu .here_we_are a {
	color: #0A224D; 
	text-decoration: none;
	letter-spacing: .15em;
	word-spacing: .3em;
}
#MainMenu #learn_more_menu_item.here_we_are a { word-spacing: inherit; letter-spacing: .1em; }

.tracks { margin-bottom: 1.5em; }
.tracks tr td { padding: 0em; vertical-align: bottom }
.tracks tr .track_text { width: 4.5em; max-width: 4.5em; overflow: visible; text-align: center; }
.tracks tr .done { color: green; }
.tracks tr .selected { color: #336699; }
.StageBar	{ width: 4em; height: 2em; margin: 0 -1em; }
.StageCircle { width: 4.5em; }

#logo { width: 8.5em; margin-left: .08em; }

.page_menu { position: absolute; left: 0em; top: 10.6em; }
.page_menu h3 { text-align: right; }
.page_menu h2 { text-align: right; }
.page_menu ul { list-style-type: none; }
.page_menu ul li { text-align: right; }


.NextPrevSpacer {width: 6%; height: 1.5em; }
.Spacer {width: 14em; height: 1.5em; }
.SmallSpacer {width: 14em; height: 0.5em; }

.percent_symbol {display: inline; font-size: 1.2em; }

.DivRight {text-align: right; }	
.DivLeft {text-align: left; }

.Right {text-align: right; }	
.Left {text-align: left; }


#TheBanner {
  margin: auto;
  min-width: 45em;
  text-align: center;
}
.StartButton { width: 13em; margin-top: 2em; }/*margin-top: -3.3em; margin-right: -40em; }*/

#logo_banner { width: 38em; margin-left: -3em; }
#firefox_addon_one_liner {
  border:medium none;
  margin:-.4em 0 -.4em -3em;
  text-align:center;
}
#firefox_addon_one_liner span {
  color:#999999;
  font-size:0.7em;
  font-variant:normal;
  letter-spacing:normal;
}

.superheader { color: #669933; font-size: .8em; vertical-align: top; }
.subheader { color: #669933; font-size: .8em; }
.subbanner { color: #669933; font-size: 1.2em; }

/*** h2 used as section headers for FAQ, etc. ***/

h2 {
  clear: both;
  font-family:"Trebuchet MS",Helvetica,Jamrul,sans-serif;
  font-size: 1.7em;
  color: #cd8047;
  margin: 1.5em 0em .5em 0em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .09em;
  border-bottom: .5px solid #ccff99;
  padding: 1em 0em 0em .5em;
  margin-left: -.5em;
}

.h2-no-margin {margin: 0 0 0 0; }

/*** h3 used as title to description on worksheet pages ***/

.RegisterHeader {	margin: .5em 0 1.5em -.5em; }

h3 {
  clear: both;
  font-family:"Trebuchet MS",Helvetica,Jamrul,sans-serif;
  font-size: 1.38em;
  color: #89958c;
  margin: 1.5em 0em .5em -.5em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .1em;
  border-bottom: .5px solid #ccff99;
  padding: 1em 0em 0em .5em;
}

h4 {
  /*font-family:Georgia, "Times New Roman", Times, serif;
  letter-spacing: .1em;
  font-size: 1.2em;
  */
  margin: 2.5em 0em 0em 0em;
  font-weight: normal;
  color: #156451;
}

/************ REGISTER/SETTINGS FORM ********/

.form-label { font-size: 1.1em; margin-top: -.4em; }
.form-value { font-size: 1.1em; margin-top: -.4em; }
.form-right { text-align: right; padding-right: 0.8em;}
.form-left { text-align: left; padding-left: 0.8em;}

.help { color: #777777; }
.summaryhelp { float: left; padding: .5em 0em 0em .5em; color: #777777; }
td { padding: .6em 0em .5em 0em; vertical-align: middle; }

.label { padding-right: 0em; }

.horizontal { margin-right: 1em; }

.smallheader { font-variant: small-caps; color: #6C0B5D; letter-spacing: .2em; }

.step { display: inline; padding: 0em 2em; }
#page_steps .selected { background: yellow; }

.tabs { border-bottom: 1px solid #BBBBBB; margin-top: 3em; }
.tab {
  text-decoration: none; 
  display: inline;
  border: 1px solid #BBBBBB;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  background: #DEDEDE;
  padding: 0em .5em;
  margin: 0em .2em 0em .2em;
}
.tab:hover { text-decoration: none; }
.tabs .selected { background: white; border-bottom: none; padding-bottom: .1em; }

#site_classifications { clear: both; width: 100%; }
#site_classifications .column { width: 31%; vertical-align: top; float: left; 
	background: #f7edb4; border: 0.25em ridge #c76631; -moz-border-radius: .4em;
	text-align: center;
}
#site_classifications .title { font-weight: bold; padding: 1em .5em .5em .5em; }

.site { background: #FBFBDE; border-top: 0.1em dotted #ffffff; -moz-border-radius: 0em; 
	padding: .5em; margin: .2em; 
} 
.whateverisaroundsite {background: #fcfcfa; border: 0.15em ridge #c0d4c5; 
	-moz-border-radius: .4em; padding: .5em; margin: .1em;  
}

#balance_here { background: #fbfbde; font-size: 1.05em; }

.submenu_column { float: left; width: 30%; }
.submenu_column .selected { text-decoration: none; }

#ranks {}
.rank {}
.rank span {}
.rank .site_name { padding-right:1.5em; text-align:right; }
.rank .rank { width: 200px; }
.rank .bar, .rank_legend .bar { height: 1.5em; background: #BBBBBB; }
.rank_legend { clear: both; }
.rank_legend label { float: left; padding-right: .5em; }
.rank_legend .bar { width: 4em; float: left; margin: 0em 2em 0px 0px; }
.rank .bar.TimeWellSpent, .rank_legend .bar.TimeWellSpent { background: #FFCCAA; }
.rank .bar.ProcrasDonate, .rank_legend .bar.ProcrasDonate { background: #AACCFF; }
.rank .rank_text { padding-left:.5em; position:relative; /*right:-100%;*/ top:0px; text-align: right; }

.Move_Site_Arrow { width: 1.2em; vertical-align: bottom; margin-bottom: -.25em; padding: 0 .5em 0 .5em; }

/**** REGISTER ****/
#register_next_prev { clear: both; }
.register_button {
  width: 5.5em;
  padding: 0 35.5%;
}

#what_is_twitter.open { padding-left: 2em; }

/**** IMAGES ****/

.icon-image { width: 1.6em; vertical-align: bottom; }
.small-image { width: 3.3em; float: left; margin-left: -4.1em; margin-top: -2.6em; }
.medium-image { width: 6em; float: left; margin-left: -4.1em; margin-top: -2.6em; }
.screenshot-long { width: 16em; float: right; margin-right: .2em; margin-left: .5em; margin-top: .2em; 
	border: 0.27em ridge #156451; -moz-border-radius: .4em; padding: .4em;
}
.recipient-image { width: 10.25em; margin-left: 1em; float: right; padding: 0.2em 1.4em; }

/**** RECIPIENTS ****/

.recipient_row { margin: .2em 0em .2em 0em; clear: both; }
.recipient_row div { float: left; }
.recipient { border: 1px solid #DDDDFF; -moz-border-radius: 4px; margin: .8em 0em; padding: 0.8em .8em 1.2em .8em; width: 90%;
	background: #FBFBDE; }
.recipient_to_add { background: #faf6f3; }
.recipient .name { font-size: 1.4em; padding: 0.2em 0.4em 0.7em 0; }
.recipient .category { color:green; display:inline; float:left; padding: 0.5em 1.5em 0.7em 0; font-size: 1.08em; }
.recipient .description { padding: .2em .4em; }
.recipient .description_toggle { }
.recipient_row .remove { text-decoration: none; background: #FFDDDD; -moz-border-radius: 4px; margin-top: .3em; padding: .2em .4em; }
.recipient_row .add { text-decoration: none; background: #DDFFFF; -moz-border-radius: 4px; margin-top: .3em; padding: .2em .4em; }
.recipient_row .slider { width: 25%; }
.recipient_row .input { float: left; margin: 0em 1em; }
.recipient_spacer_row { height: 4em; width: 100%; clear: both; }
.recipient_instructions { margin-bottom: 2em; }
.recipient_percent { float: right; padding: 0.2em 1.4em; }

/**** DONATION AND GOALS, LIMIT ****/

#donation_form table { float: left; margin-left: 2em; margin-bottom: 3.5em; }
#donation_form p { clear: both; margin-bottom: -.05em; }

/**** SUPPORT ****/
#support_slider { width: 10em; }
#support_input {} 

/***** SLIDER ******/
.ui-slider { position: relative; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
