/*
 colors (solid, dark unless stated otherwise):
   brighter blue 46C4F2
   bright blue 00B0F0
   middle blue 0099D8
   dark blue 1C5492
   deep blue (sidebar) 003366
   soft blue (sidebar and links) 336699
   grey 89958c
   dark bluegreen 156451
   soft green (sidebar) 669933
   purple 6C0B5D
   red (menu border) 8A4304
   bright orange FF9900
   darker orange 
   brown header text cd8047 (was cc9966 and b15b1c)
   dark brown text (was 330000)
   yellow chart background f7edb4
   beige highlight for accounting FBFBDE
   body bg fbfbfa
*/

/******** GENERAL LOOK AND FEEL *******************************************/

body {
	background: #fbfbfa;			
	color: #330000;
	margin: 0em;
	padding: 0em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12.2px;
	text-align: center;
}

p { text-align: left; }
ul, ol, ul li, ol li { text-align: left; }

a, .link { color:#336699; text-decoration:underline; cursor: pointer; }
a:hover, .link:hover { color:#FF9900; text-decoration:underline; cursor: pointer; }
a img { border: none; }

img { -ms-interpolation-mode:bicubic; }
.img_link { text-decoration: none; cursor: pointer; }
.text-image {height: 1.65em; vertical-align: bottom; }
.lower-image { margin-bottom: -.25em; }

.paragraph_list li { margin-top: 1em; }

.hidden { display: none; }
.new { color: #F37F19; }
.odd { background: #FAF3F4; }
.errorlist { list-style-type: none; color: red; }
.error, .errors, #error, #errors { color: red; text-align: center; }
.success, #success { color: green; text-align: center; }
.message, .messages, #message, #messagees { }

/******** GENERAL LAYOUT *******************************************/
#top_bar { background: #E4E4E4; padding-top: .6em; text-align: left; border-bottom: 0.2em solid #dbdada }
#laptop_logo { width: 9em; margin-bottom: -3.2em; }
#pd_line_cartoon { width: 37em; margin: 0 9.2em -0.473em 0; }
#download_top_button { width: 10em; }

.center_column {
	width: 66em;
	margin: auto;
}

#bottom_bar { clear: both; padding: 2em 0em 1em; }

/******** BASE LAYOUT *******************************************/
#wrapper {
}

#StartButtonDiv { text-align: center; }
#StartButton { width: 13em; margin-bottom: 0em; }

#LayoutTable { margin: 0em; padding: 0em; width: 100%; }
#LayoutTable tr td { vertical-align: top; }

/******** LEFT COLUMN *******************************************/
#left_column { padding-top: 5em; min-width: 10em; max-width: 10em; }

.menu {
	-moz-border-radius: .4em; 
	font-size: 1.2em;
	margin-bottom: 2em;
}
.menu div {
	display: block;
	padding: 0.3em 0em;
	margin: 1em 0em;
	border-top: 0.1em dotted #EFEBA4;
	-moz-border-radius: 0em;
}
.menu div a {
	font-variant: small-caps; letter-spacing: .1em; text-decoration: none; color: #f9fdf4;
}
.menu .here_we_are a {
	text-decoration: none; letter-spacing: .15em; word-spacing: .3em; 
}

#ExtensionMenu { background: #669a40; border: 0.34em ridge #9abe7f; }
#ExtensionMenu div { background: #55963e; border-top: 0.1em dotted #DBBF75;  }
#ExtensionMenu .here_we_are { background: #91bc7d; border-top: 0.1em dotted white; }
#ExtensionMenu .here_we_are a { color: #0A224D; }

#MainMenu { background: #bb8230; border: 0.34em ridge #8A4304; }
#MainMenu div { background: #b47925; border-top: 0.1em dotted #DBBF75;  }
#MainMenu .here_we_are { background: #dbbf75; border-top: 0.1em dotted white; }
#MainMenu .here_we_are a { color: #0A224D; }

#OrganizerMenu { background: #1C5492; border: 0.34em ridge #336699; }
#OrganizerMenu div { background: #154a7e; border-top: 0.1em dotted #003366;  }
#OrganizerMenu .here_we_are { background: #7597ba; border-top: 0.1em dotted white; }
#OrganizerMenu .here_we_are a { color: #00B0F0; }

#AdminMenu { }
#AdminMenu a { color: #666666; display: block; font-size: .77em; }
#AdminMenu a:hover { color: black; }
	
/*#MainMenu #learn_more_menu_item.here_we_are a { word-spacing: inherit; letter-spacing: .1em; }*/

#footer { font-size: .9em; height: 2.5em;  font-weight: normal; margin: auto; }
.copyright { margin-top: 1em; }

/******** CONTENT *******************************************/
#middle {
	min-width: 50em;
	max-width: 50em;
	padding: 0em 0em 0em 4em;
}

/******** VIDEOS *******************************************/

.video_block {
}
.video_block img { width: 9.5em; background: black;  }

.video_label {
	text-decoration: none;
	font-variant: small-caps;
	font-size: 1.2em;
	text-align: center;
	display: block;
	padding-bottom: .4em;
	margin: 0em;
}	

.video_intro_label {
	color: #e5c130;
}

/*
#video1 {
	width: 11.5em;
	text-align: center;
	margin: auto;
	margin-bottom: 2em;
}
*/

/*** attempt at expanding videos. divs not inserted now
 because doesn't work. large_video is always behind table,
 whereas we want it on top */
#large_video {
	background: red;
	text-align: right;
	height: 0em;
	width: 0em;
	text-align: right;
	vertical-align: bottom;
	margin-left: 45em;
}
#large_video #inside {
	background: green;
	width: 33em;
	height: 13em;
	padding-top: 20em;
}
#large_video #inside img {
	z-index: 999999;
}
#large_video_floatifier {
	background: blue;
	float: right;
	width: 20em;
	height: 22em;
	margin-top: 9em;
}

/******** MESSAGES *******************************************/
#browser_message p, #browser_message ol { margin: 0em; }

#user_messages {
	clear:both;
	margin: -2.7em auto 0;
}
#user_messages ul {
	list-style-type: none;
	padding: .4em 1.2em;
	margin: 0em auto;
	
	-moz-border-radius:.7em;
	
	background:#FFF1A8;
	color: #000000;
	font-weight: bold;
}
#user_messages .message {
	text-align: center;
}

/******** HOME PAGE *******************************************/
#video_and_message { margin-top: 2em; text-align: left; width: 100%; }
#video_and_message td { vertical-align: top; margin: 0em; }
.slogan {
	font-size: 1.2em;
	color: #AAAAAA;
	font-variant: small-caps;
	margin-bottom: -1em;
	margin-left: 9em;
	padding: 0em;
	border: none;
	text-align: left;
	letter-spacing: .15em;
}
#slogan_line1 { margin-top: .8em; }
#slogan_line2 { margin-top: .1em; }

#big_video { }

.focus_slogans {
	text-align: center;
	font-weight: bold;
	letter-spacing: -0.03em;
	margin-top: -2.7em;
}
.focus_slogans div { }

#focus_slogan_line2 {margin-top:-1.4em; }
#focus_slogan_line3 {margin-top:1.4em; font-size:1.1em;}
#focus_slogan_line2.special_line2 { font-size: .8em; }
#focus_slogan_line2.special_line2 h1 { color: #76481b; }
#focus_slogan_line3.special_line3 { font-size: .85em; }
#focus_image {height: 3.4em; margin-top:1em; padding: 0 .8em;}

#left-side-info {margin-bottom: .5em; margin-top: .5em; margin-left: -7em; }
#download_wrapper { text-align: center; }
#download { width: 23em; }
/* inserted by extension on splash page */
#download_wrapper #ExtensionMenu { margin: 3em 0em 0em 6.7em; width: 8.4em; font-weight: normal; line-height: 1.2em; }

#community {
	width: 100%;
	font-size: 1.5em;
	color: #AAAAAA;
	margin: 0em;
	padding: 0em;
	letter-spacing: .02em;
}
#community td { vertical-align: top; }
#community_left { text-align: left; }
#community_center { text-align: center; }
#community_right { text-align: right; }

#charities_bar {
	background: #AAAAAA;
	padding: 0.6em 0 1em;
	border-top: 0.2em solid #bebdac;
	margin-top: 1em;
}
#charities_bar_info {
	color: white;
	display: inline;
	font-size: 1.8em;
	vertical-align: top;
	font-family: georgia;
	letter-spacing: .09em;
}
#charities_bar_table { width: 100%; }
#charities_bar_table #charities { text-align: left; }
#charities_bar_subtext { font-size: .59em; margin-left: -.4em}
#charities_bar_table #charities { display: inline; }
#charities_bar_table #charities .charity_logo {
	float: right; margin-right: 1em; margin-left: 1em; margin-top: .3em;
	border: 0.25em groove #bbba93; padding: 0em 0em;
}

#charities_bar_table #charities div.charity_logo { width: 50px; display: inline; }

#more_information { clear: both; }

#top_OrganizerMenu { float: right; font-size: .9em; text-align: right; }
#top_OrganizerMenu div.here_we_are { background: #336699; padding: .3em 1em; }
#top_OrganizerMenu div.here_we_are a { color: #FFFFFF; text-decoration: none; }

#extra_home_navigation {
	float: right;
	margin-top: 1.8em;
	margin-left: 1em;
	text-align: center;
	padding: 0 .7em .6em .7em;
	background: #EEEEEE;
}
#home_menu { padding: .4em; }
#home_menu div {
	display: inline;
	font-weight: bold;
	padding: 0em 1em;
}
#my_progress_screenshot {
	width: 20em;
	background: #E4E4E4;
	border: 1px solid #E4E4E4;
	margin-top: 1em;
}

.side_note {
	float: right;
	width: 32em;
	padding: .5em 0em 0em 1em;
	margin: 4em 0 1em 2em;
	background: #EEEEEE none repeat scroll 0 0;
}

#blog_posts { width: 20em;	background: white;
}
#blog_posts h3 {
	margin: 1em 0em 0em 0em;
	padding: 1em 0em .1em 0em;
	border-bottom: 1px solid #D7D7D7;
	-moz-border-radius: .3em;
	text-align: center;
}
#blog_posts h3 a { text-decoration: none; }
.blog_post h4 {
	margin: .7em 0em .5em 1.5em;
	padding: 0em;
	font-size: 1.1em;
	text-align: left;
}
.blog_post h4 a { text-decoration: none;}
.blog_post p { padding: 0em; margin: 0em; }



#HOME { margin-left: 5.3em; }
#HOME h2:first-child { margin-top: 0em; }
#TheBanner {}
#logo_banner { width: 38em; }
#firefox_addon_one_liner { border:medium none; }
#firefox_addon_one_liner span {
  color:#999999;
  font-size:0.7em;
  font-variant:normal;
  letter-spacing:normal;
}
.superheader { color: #669933; font-size: .8em; vertical-align: top; }
.subheader { color: #669933; font-size: .8em; }

.small-image { width: 3.9em; float: left; margin-left: -5.6em; margin-top: -2.6em; }
.screenshot-long { width: 13.5em; float: right; margin-right: 1em; margin-left: 1em; margin-top: .45em;
	border: 0.27em ridge #156451; -moz-border-radius: .4em; padding: .6em .4em;
}

/******** EXTENSION CSS (#@TODO move to extension)*******************************************/

.tracks { margin-bottom: 1.5em; }
.tracks tr td { padding: 0em; vertical-align: bottom }
.tracks tr .track_text { width: 4.5em; max-width: 4.5em; overflow: visible; text-align: center; }
.tracks tr .done { color: green; }
.tracks tr .selected { color: #336699; }
.StageBar	{ width: 4em; height: 2em; margin: 0 -1em; }
.StageCircle { width: 4.5em; }



.NextPrevSpacer {width: 6%; height: 1.5em; }
.Spacer {width: 14em; height: 1.5em; }
.SmallSpacer {width: 14em; height: 0.5em; }

.units { color: #8b949d; }

.DivRight {text-align: right; }	
.DivLeft {text-align: left; }

.Right {text-align: right; }	
.Left {text-align: left; }

/********* FAQ PAGE ***********/

#faq_toc { width: 100%; }
#faq_toc td { padding: .2em; }

/********* COMMUNITY PAGE ***********/

/* #@ TODO everywhere */

.icon-image { width: 1.6em; vertical-align: bottom; }

/* #@ TODO from after install page */

.right-image { width: 6em; float: right; margin: -2em 1em 0 2em; }

/* #@ TODO from recipient list in extension page */

.remove_img { float: left; width: 10.5em; margin: .3em 0em -.6em 0em;}
.add_img { float: right; width: 11em; margin: 0.1em 0.6em -0.6em 0;}
#new_recipient_submit { width: 10.25em; padding: 0em; margin: .6em 0em -.6em 0em; /*float: right;*/ }
.recipient_percent .percent_symbol { font-size: 1.2em; margin: .1em .4em 0em 0em; float: left; }
.recipient_percent .percent { font-size: 1.2em; float: left; width: 2em; margin:0.15em 0em 0 0em; text-align:right; }
.pie_sector_color { width: 1.2em; height: 1.2em; float: left; -moz-border-radius: .65em; margin: .4em 0em 0em 0em; }
.left_recipient_float { float: left; margin: -.2em 0.5em 0.5em .4em; }
/* goes with register charity page stuff that is commented out
.new_recipient { color: #797979; }
#new_recipient_website { margin-right: 1em; }*/

/*** h1 used on home page for selling points. ***/

h1 {
  /*clear: both;*/
  font-family: Helvetica,Jamrul,sans-serif;
  font-size: 3em;
  color: black;
  font-weight: bold;
  letter-spacing: .03em;
}

/*** h2 used as section headers for FAQ, etc. ***/

h2 {
  /*clear: both;*/
  font-family:"Trebuchet MS",Helvetica,Jamrul,sans-serif;
  font-size: 1.7em;
  color: #cd8047;
  margin: 1em 0em .5em 0em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .09em;
  border-bottom: .5px solid #ccff99;
  padding: 1em 0em 0em .5em;
  margin-left: -.5em;
  text-align: left;
}

.h2-no-margin {margin: 0 0 0 0; }

/*** h3 used as title to description on worksheet pages ***/

.RegisterHeader {	margin: .5em 0 1.5em -.5em; }

h3 {
  /*clear: both;*/
  font-family:"Trebuchet MS",Helvetica,Jamrul,sans-serif;
  font-size: 1.38em;
  color: #89958c;
  margin: 1.5em 0em .5em -.5em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .1em;
  border-bottom: .5px solid #ccff99;
  padding: 1em 0em 0em .5em;
  text-align: left;
}

/*** h4 is used as a headline for the community stats page ***/

h4 {
  /*clear: both;*/
  font-family:"Trebuchet MS",Helvetica,Jamrul,sans-serif;
  font-size: 1.38em;
  color: #89958c;
  margin: 1.5em 0em .5em -.5em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 1em 0em 0em .5em;
  text-align: left;
}

/*** h5 is the header for the registration track questions ***/

h5 {
  /*clear: both;*/
  font-family:"Trebuchet MS",Helvetica,Jamrul,sans-serif;
  font-size: 1.38em;
  color: #89958c;
  margin: 1.5em 0em .5em -.5em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 1em 0em 0em .5em;
  text-align: left;
  border-bottom: .5px solid #ccff99;
}

.what_next {
	margin-top: 0em;
	padding-top: 0em;
	text-align: center;
}

/************ OLD REGISTER/SETTINGS FORM (some still in use for REGISTER now) ********/

.form-label { font-size: 1.1em; margin-top: -.4em; }
.form-value { font-size: 1.1em; margin-top: -.4em; }
.form-right { text-align: right; padding-right: 0.8em;}
.form-left { text-align: left; padding-left: 0.8em;}

.help { color: #777777; }
.summaryhelp { float: left; padding: .5em 0em 0em .5em; color: #777777; }
td { vertical-align: middle; }

.label { padding-right: 0em; }

.horizontal { margin-right: 1em; }

.smallheader { font-variant: small-caps; color: #6C0B5D; letter-spacing: .2em; }

.step { display: inline; padding: 0em 2em; }
#page_steps .selected { background: yellow; }

.tabs { border-bottom: 1px solid #BBBBBB; margin-top: 3em; }
.tab {
  text-decoration: none; 
  display: inline;
  border: 1px solid #BBBBBB;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  background: #DEDEDE;
  padding: 0em .5em;
  margin: 0em .2em 0em .2em;
}
.tab:hover { text-decoration: none; }
.tabs .selected { background: white; border-bottom: none; padding-bottom: .1em; }

#site_classifications { clear: both; width: 100%; }
#site_classifications .column { width: 32%; vertical-align: top; float: left; 
	background: #f7edb4; border: 0.25em ridge #c76631; -moz-border-radius: .4em;
	text-align: center;
}
#site_classifications .title { font-weight: bold; padding: 1em .5em .5em .5em; }
/*#procrasdonate_col.column { text-align: right; }
#timewellspent_col.column { text-align: left; }*/

.site { background: #FBFBDE; border-top: 0.1em dotted #ffffff; -moz-border-radius: 0em; 
	padding: .5em; margin: .2em; 
} 
.whateverisaroundsite {background: #fcfcfa; border: 0.15em ridge #c0d4c5; 
	-moz-border-radius: .4em; padding: .5em; margin: .1em;  
}

#balance_here { background: #fbfbde; font-size: 1.05em; }

.submenu_column { float: left; width: 30%; }
.submenu_column .selected { text-decoration: none; }

#ranks {}
.rank {}
.rank span {}
.rank .site_name { padding-right:1.5em; text-align:right; }
.rank .rank { width: 200px; }
.rank .bar, .rank_legend .bar { height: 1.5em; background: #BBBBBB; }
.rank_legend { clear: both; }
.rank_legend label { float: left; padding-right: .5em; }
.rank_legend .bar { width: 4em; float: left; margin: 0em 2em 0px 0px; }
.rank .bar.TimeWellSpent, .rank_legend .bar.TimeWellSpent { background: #FFCCAA; }
.rank .bar.ProcrasDonate, .rank_legend .bar.ProcrasDonate { background: #AACCFF; }
.rank .rank_text { padding-left:.5em; position:relative; /*right:-100%;*/ top:0px; text-align: right; }

.Move_Site_Arrow { width: 1.2em; vertical-align: bottom; margin-bottom: -.25em; padding: 0 .5em 0 .5em; }

/**** EXTENSION SUBMENU ****/
.extn_submenu { margin-left: -3em; }
.extn_submenu ul { text-align: center; list-style-type: none; margin: 0em; padding: 0em; }
.extn_submenu ul li { text-align: center; display: inline; }
.extn_submenu .bar { vertical-align: bottom; }
.extn_submenu .bar img { width: 2.5em; margin-bottom: .1em; margin: auto -.9em; }

.extn_submenu .substate_tab img { width: 4em; text-align: center; }
.extn_submenu .menu_text .substate_tab { padding: 0.6em; text-decoration: none; }
.extn_submenu .menu_text .current_tab, .extn_submenu .menu_text .current_tab a { color: #336699; }
.extn_submenu .menu_text .past, .extn_submenu .menu_text .past a { color: green; }
.extn_submenu .menu_text .future, .extn_submenu .menu_text .future a { color: #330000; }

.prev { margin: 1em 1em -1em -2em; width: 6em; max-height: 52px; cursor: pointer; }
.next { margin: 1em 0em -1em -1em; width: 6em; max-height: 52px; cursor: pointer; }
.done { margin: 1em 1em -1em -2em; width: 6em; cursor: pointer; }

/**** REGISTER INCENTIVES ****/

.example_gauge { float: right; }

/**** REGISTER PAYMENTS ****/

.disabled { color: #888888; }
.split_arrow { margin-left:2em; width:24em; }
.split_arrow_div {text-align: left; }

.split_arrow_div { }
.left {text-align: left; }

#go_to_amazon_button { width: 20em; margin-top: -2em; }
#multi_auth_status_updated {
	padding: .4em 1.2em;
	margin: 1em auto 0em auto;
	-moz-border-radius:.7em;
	background:#FFF1A8;
	color: #000000;
	font-weight: bold;
}
#top_go_to_amazon_button { width: 40%; float: right; margin-top: -5em; }

/**** SETTINGS *****/
.up_arrow, .down_arrow { height: 1.7em; cursor: pointer; }

/**** IMAGES ****/


/**** RECIPIENTS ****/

.recipient_row { margin: .2em 0em .2em 0em; clear: both; }
.recipient_row div { float: left; }
.recipient { border: 0.27em ridge #156451; -moz-border-radius: .4em; margin: .6em; padding: .6em .4em;
	width: 90%; background: #FBFBDE;  }
.recipient_to_add { background: #faf6f3; }
.recipient .name { font-size: 1.5em; padding: 0.2em 0.4em 0.2em 0.4em; text-align: left; }
.recipient .category { color:green; display:inline; font-size: 1.08em; }
.recipient .description { padding: .2em .4em; }
.recipient .description_toggle { }
.recipient_row .remove { text-decoration: none; background: #FFDDDD; -moz-border-radius: 4px; margin-top: .3em; padding: .2em .4em; }
.recipient_row .add { text-decoration: none; background: #DDFFFF; -moz-border-radius: 4px; margin-top: .3em; padding: .2em .4em; }
.recipient_row .slider { width: 25%; }
.recipient_row .input { float: left; margin: 0em 1em; }
.recipient_spacer_row { height: 4em; width: 100%; clear: both; }
.recipient_instructions { margin-bottom: 2em; }
.recipient_percent { float: right; font-size: 1.2em; padding: 0 1.4em; }
/* used to "prop up" floats so that enclosing divs actually *enclose* the float.
   create an empty div with the "float prop" class after the float that you want to prop up.*/
.float_prop { clear:both; height:1px; overflow:hidden; }

/**** DONATION AND GOALS, LIMIT ****/

#donation_form table { float: left; margin-left: 2em; margin-bottom: 3.5em; }
#donation_form p { clear: both; margin-bottom: -.05em; }

/**** SUPPORT ****/
#support_slider { width: 10em; }
#support_input {} 

/***** SLIDER ******/
.ui-slider { position: relative; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

/*** MY PROGRESS ****/

#progress_submenu .substate_tab img { max-width: 4em; width: auto; }
#progress_submenu .menu_text .substate_tab { padding: 1.6em; }

/**** MY PROGRESS GAUGES ****/
.laptop { width: 10em; }
#progress_explanation tr td { padding: 0em; }
.progress_notes { margin-top: 4em; font-size: .9em; padding-left: 3em; }
#progress_submenu img { margin: 0em 1em; }

/**** MY PROGRESS TRENDS ****/
#trend_chart { text-align: left; margin-bottom: 1em; }
#legend { margin-top: 1em; height: 1em; }
div.trend_title { text-align: center; font-size: 1.2em; }
div.trend_yaxis { text-align: left; font-size: 1.1em; }
div.trend_xaxis { font-size: 1.1em; }
div.trend_list { float: left; margin: 0em 1em; }
div.trend_list ul { list-style-type: none; margin: 0em; padding: 0em; }
div.trend_list ul li { max-width: 30em; overflow: hidden; white-space: nowrap; }
div.trend_list h4 { margin-top: 1em; padding: 0em; }

/**** MY IMPACT ****/
#impact_submenu {
	list-style: none;
	padding: 0em;
	margin: 2em 0em 0em 0em;
	text-align: center;
}
#impact_submenu li {
	display: inline;
	padding: .2em 1em;
	margin: 0em .3em;
	color: #777777;
	cursor: pointer;
}
#impact_submenu .current_tab {
	background: #E6E6E6; /* should match table border below */
	-moz-border-radius-topright: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	color: black;
}

#impact_table {
	-moz-border-radius: 0.4em;
	border: 0.7em solid #E6E6E6;
}
#impact_table tr th {
	padding-top: 1em;
}
#impact_table .even td {
	background: #f7edb4;
}

/******** RECIPIENT ORGANIZER *******************/
#organizer_submenu .menu_text .substate_tab { padding: 0em .9em; }
#organizer_submenu .menu_text li a { text-decoration: none; }

.organizer_form td { text-align: left; }
.organizer_form th { text-align: right; padding-right: 1em; }
.organizer_form .header {
  font-family:"Trebuchet MS",Helvetica,Jamrul,sans-serif;
  font-size: 1.38em;
  color: #89958c;
  margin: .5em 0em .5em -.5em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .1em;
  border-bottom: .5px solid #ccff99;
  padding: 1em 0em 0em .5em;
  text-align: left;
}
form input[type=submit] { margin-top: 1em; font-size: 1.3em; }

/**** RECIPIENT ORGANIZER DASHBOARD *****/
#promotional_checklist { margin-bottom: 1em; }
#promotional_checklist td { padding: 0em 0em 0em 1em; text-align: left; }
#promotional_checklist_save { float: left; margin-left: 4em; } /*text-align: left didn't seem to work*/

#dashboard_actions { width: 100%; margin-bottom: 1em; }
#dashboard_actions td a {
	/*background: #DDDDDD;*/
	-moz-border-radius: .4em;
	padding: .3em 1em .5em 1em;
}
#dashboard_actions td a:hover { /*background: #DDEEFF;*/ }

#contact_procrasdonate { text-align: center; }

/**** RECIPIENT ORGANIZER POSTCARDS AND PAYMENT REGISTRATION SCREENSHOTS *****/
#postcard_big_div { width: 100%; padding: 2em 0em; text-align: center; background: #336699; }
#postcard_big { width: 50em; }
#postcard_thumbnails { list-style: none; padding: 0em; text-align: center; }
#postcard_thumbnails li { display: inline; }
#postcard_thumbnails li .postcard_thumbnail { padding: .4em; width: 8em; cursor: pointer; }
#postcard_thumbnails li .selected {
	/*border: 0.27em ridge #336699;*/
	background: #336699;
	/*-moz-border-radius: .4em;*/
}
#postcard_prev { width: 5em; }
#postcard_next { width: 5em; }

/**** RECIPIENT ORGANIZER PAYMENT REGISTRATION SCREENSHOTS *****/
/* reuses CSS above */
#screenshot_big_div { width: 65em; padding: 1em; text-align: center; background: #336699; }
#screenshot_big { width: 100%; height: 100%; }
.screenshot_thumbnails { margin-top: 0em; }
#screenshot_steps {
	list-style: none;
	padding: 0em;
	text-align: center;
	margin: 0em;
	font-weight: bold;
	color: #888888;
}
#screenshot_steps li { display: inline; padding: 0em 2.7em; cursor: pointer; }
#screenshot_steps .selected { display: inline; padding: 0em 2.7em; color: #336699; }

/**** RECIPIENT ORGANIZER EDIT MEDIA *****/
#current_media table { margin: auto; }
#current_media table td { padding: 1em; }

/**** DEV TEST SUITE *****/
/* otherwise whole line is a link */
#manual_test_suite p { width: 10%;}



/******** JQUERY UI ******************/


/* Slider */
.ui-slider {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana, Arial, sans-serif;
	background: #ffffff;
	border: 1px solid #d3d3d3;
	height: .8em;
	position: relative;
}
.ui-slider-handle {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	position: absolute;
	z-index: 2;
	top: -3px;
	width: 1.2em;
	height: 1.2em;
	background: #ffffff url(/procrasdonate_media/img/jquery_ui_images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	border: 1px solid #dddddd;
}
.ui-slider-handle:hover {
	background: #dadada url(/procrasdonate_media/img/jquery_ui_images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	border: 1px solid #999999;
}
.ui-slider-handle-active, .ui-slider-handle-active:hover {
	background: #dadada url(/procrasdonate_media/img/jquery_ui_images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	border: 1px solid #dddddd;
}
.ui-slider-range {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	height: .8em;
	background: #dadada url(/procrasdonate_media/img/jquery_ui_images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	position: absolute;
	border: 1px solid #d3d3d3;
	border-left: 0;
	border-right: 0;
	top: -1px;
	z-index: 1;
}


/*
Generic ThemeRoller Classes
>> Make your jQuery Components ThemeRoller-Compatible!
*/
/*component global class*/
.ui-component {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
}
/*component content styles*/
.ui-component-content {
	border: 1px solid #d3d3d3;
	background: #ffffff;
	color: #222222;
}
.ui-component-content a {
	color: #222222;
	text-decoration: underline;
}
/*component states*/
.ui-default-state {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(/procrasdonate_media/img/jquery_ui_images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	font-weight: normal;
	color: #555555 !important;
}
.ui-default-state a {
	color: #555555;
}
.ui-default-state:hover, .ui-hover-state {
	border: 1px solid #999999;
	background: #dadada url(/procrasdonate_media/img/jquery_ui_images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	font-weight: normal;
	color: #212121 !important;
}
.ui-hover-state a {
	color: #212121;
}
.ui-default-state:active, .ui-active-state {
	border: 1px solid #dddddd;
	background: #ffffff url(/procrasdonate_media/img/jquery_ui_images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	font-weight: normal;
	color: #222222 !important;
	outline: none;
}
.ui-active-state a {
	color: #222222;
	outline: none;
}
/*icons*/
.ui-arrow-right-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:hover, .ui-arrow-right-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:active, .ui-arrow-right-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-left-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:hover, .ui-arrow-left-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:active, .ui-arrow-left-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-down-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:hover, .ui-arrow-down-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:active, .ui-arrow-down-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-up-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:hover, .ui-arrow-up-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:active, .ui-arrow-up-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-close-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:hover, .ui-close-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:active, .ui-close-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-folder-closed-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:hover, .ui-folder-closed-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:active, .ui-folder-closed-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-open-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:hover, .ui-folder-open-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:active, .ui-folder-open-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-doc-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:hover, .ui-doc-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:active, .ui-doc-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:hover, .ui-arrows-leftright-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:active, .ui-arrows-leftright-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:hover, .ui-arrows-updown-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:active, .ui-arrows-updown-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-minus-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:hover, .ui-minus-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:active, .ui-minus-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-plus-default {background: url(/procrasdonate_media/img/jquery_ui_images/888888_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:hover, .ui-plus-hover {background: url(/procrasdonate_media/img/jquery_ui_images/454545_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:active, .ui-plus-active {background: url(/procrasdonate_media/img/jquery_ui_images/222222_11x11_icon_plus.gif) no-repeat 50% 50%;}
/*hidden elements*/
.ui-hidden {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}
.ui-accessible-hidden {
	 position: absolute; left: -99999999px;
}
/*reset styles*/
.ui-reset {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}
/*clearfix class*/
.ui-clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.ui-clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .ui-clearfix {height: 1%;}
.ui-clearfix {display: block;}
/* End hide from IE-mac */

/************************************************************************************************/
