*.pyc
*.db
*.sqlite
*.*~
.settings
.pydevproject
.project
env/CURRENT
env/whynoti
env/snoopy
env/clay
NOTES
*.db
media/uploaded_img/*
!media/uploaded_img/touch
media/rdf/update.rdf
procrasdonate/ProcrasDonateFFExtn/content/js/generated_inputjs
procrasdonate/ProcrasDonateFFExtn/content/js/generated_javascript.js
