{% extends 'procrasdonate/base.html' %}

{% block content %}
	<div id="public_recipient_page">
		{% if user.is_authenticated %}
			{% ifequal user.get_profile.recipient.slug recipient.slug %}
				<h2><a href="{% url edit_public_information %}">Edit</a></h2>
			{% endifequal %}
		{% endif %}
		
		<h2>{{ recipient.name }}</h2>
		
		<h3>Category: {{ recipient.category.category }}</h3>
		
		<h3>Charity Navigator Score: {{ recipient.charity_navigator_score|default:"-" }}</h3>
		
		<h3>Mission:</h3>
		<div class="recipient_mission">
			{{ recipient.mission }}
		</div>
		
		<h3>Description:</h3>
		<div class="recipient_description">
			{{ recipient.description }}
		</div>
		
		<h3>Website: {{ recipient.url }}</h3>
{% endblock %}
