{% extends 'procrasdonate/base.html' %}

{% block content %}
	<div id="public_recipient_page">
		{% if user.is_authenticated %}
			{% ifequal user.get_profile.recipient.slug recipient.slug %}
				<h2><a href="{% url edit_public_information %}">Edit</a></h2>
			{% endifequal %}
		{% endif %}
		
		<h2>{{ recipient.name }} Profile</h2>
		
		{% if recipient.logo %}
			<img src="{{ recipient.logo.url }}" />
		{% endif %}
		
		<h4>Category:</h4>
			{{ recipient.category.category }}
				
	{% comment %}	<h3>Charity Navigator Score: {{ recipient.charity_navigator_score|default:"-" }}</h3> {% endcomment %}
		
		<h4>Charitable Mission:</h4>
			{{ recipient.mission }}
		
		<h4>Methods Toward Fulfilling Mission:</h4>
			{{ recipient.description }}
		</div>
		
		<h4>Website:</h4>
		 {{ recipient.url }}
{% endblock %}
