<h3 class='RegisterHeader'>Almost Done!</h3>

<!--<p>You are now <b>ready</b> to use ProcrasDonate to make <i>pledges</i>!</p> -->

<p id="message_here" class="message">You are <b>one step</b> away from completing registration. 
Use your Amazon account to <i>Authorize</i> ProcrasDonate to <b>turn your pledges
into donations</b>.</p>

<p id="auth_a_here"></p>
<p>(#@TODO fill me in: Money is only transferred once you have accumulated $22 in pledges. You will receive emails about 
all transactions, as well as view reports on our website. You can cancel and refund payments 
at any time. You will be redirected back here when you are done.)</p>

<p id="balance_here"></p>

<p id="cancel_here"></p>

<p id="edit_here"></p>
