<div id='ranks'>
	<h2>{{ context.title }}</h2>
	{{ context.test }}{{context.test.0}}
	{% for x in context.test %}
		x={{ x }}
	{% endfor %}
	{% for submenus in context.submenus %}
		s:{{ submenus }}
		<div class="submenu_column">
			<ul>
				{% for item in submenus %}
					<li class="link {% if item.selected %}selected{% endif %}">
						{{ item.name }}
						{% if item.coming %}<small>(coming soon)</small>{% endif %}
					</li>
				{% endif %}
			</ul>
		</div>
	{% endfor %}
	
	<div class='rank_legend'>
		<h3>Legend</h3>
		{% for class_name in context.class_names %}
			<label>{{ class_name }}</label>
			<div class="bar {{ class_name }}"></div>
		{% endfor %}
	</div>
	
	<h3>{{ context.sub_title }}</h3>
	<table>
		<tbody>
			{% for row in context.data %}
			<tr class="rank">
				<td class="name">{{ row.name }}</td>
				<td class="rank">
					<div class="bar {{ row.class_name }}" style="width: {{ row.pct }}%">
						<div class="rank_text">{{ row.total }}</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>