<div id='ranks'>
	<!--<fieldset class='rank_legend' style='-moz-border-radius:1em;'>-->
	<div class='rank_legend'>
		<h3>Site Classification Legend</h3>
		<!--<legend>Legend</legend>-->
		<label>ProcrasDonate:</label><div class='bar procrasdonate'></div>
		<label>TimeWellSpent:</label><div class='bar timewellspent'></div>
		<label>Other:</label><div class='bar other'></div>
	</div>
	<!--</fieldset>-->
	<h3>Most Visited Sites</h3>
</div>
<table>
	<tbody>
		{% for recipient_name, total_time, total_amount, tag in data %}
		<tr class="rank">
			<td class="name">{{ recipient_name }}</td>
			<td class="rank">
				<div class="bar {{ tag }}" style="width: 100%">
					<div class="rank_text">${{ total_amount }}</div>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
