<div id='ranks'>
	<!--<fieldset class='rank_legend' style='-moz-border-radius:1em;'>-->
	<div class='rank_legend'>
		<h3>Site Classification Legend</h3>
		<!--<legend>Legend</legend>-->
		<label>ProcrasDonate:</label><div class='bar procrasdonate'></div>
		<label>TimeWellSpent:</label><div class='bar timewellspent'></div>
		<label>Other:</label><div class='bar other'></div>
	</div>
	<!--</fieldset>-->
	<h3>Most Visited Sites</h3>
</div>
<table>
	<tbody>
		{% for row in data %}
		<tr class="rank">
			<td class="name">{{ row.sitegroup_name }}</td>
			<td class="rank">
				<div class="bar {{ row.tag }}" style="width: {{ row.amount_pct }}%">
					<div class="rank_text">${{ row.total_amount }}</div>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<hr>
<table>
	<tbody>
		{% for row in data %}
		<tr class="rank">
			<td class="name">{{ row.sitegroup_name }}</td>
			<td class="rank">
				<div class="bar {{ row.tag }}" style="width: {{ row.time_pct }}%">
					<div class="rank_text">{{ row.total_time }}</div>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>