<div class='recipient'>
	<!-- id class needed for js -->
	<div class="recipient_id">{{ id }}</div>
	<div class='name'><a href='{{ url }}'>{{ name }}</a></div>
	<div class="category">{{ category }}</div>
	<div class='mission'>{{ mission }}
		<span class='link description_toggle'>(less)</span>
	</div>
	<div class='description'><p>{{ description }}</p></div>
	<div class='add_recipient' title="Add recipient to list"> 
		<img src="{{ constants.MEDIA_URL }}img/AddRecipient.png" class="recipient-image">		
	 </div>
</div>
