<h3 class='RegisterHeader'>Begin categorizing websites.</h3>  
	<p>
		Click on the green arrows to move websites to the appropriate column.  
	</p><p>
		You can also classify these and other sites using the icons that will appear on your firefox browser.
	</p>
	
<div id='site_classifications'>
	<div id='procrasdonate_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ProcrasDonateLogoNoText.png" class="small-image">		
			ProcrasDonate
		</div>
		{{ procrasdonate_text }}
	</div>
	<div id='unsorted_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ToolbarImages/UnsortedIcon.png" class="small-image">		
			Unsorted
		</div>
		{{ unsorted_text }}
	</div>
	<div id='timewellspent_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ThumbsUp.png" class="small-image">		
			Time Well Spent
		</div>
		{{ timewellspent_text }}
	</div>
</div>
