<h3>Support ProcrasDonate automatically.</h3>

<p>What <i>percentage</i> of your donations would <b>you</b> like to use to pay for this service?</p>
	
<form name='account_form' onSubmit='return false'>
	<table>
		<tbody>
			<tr>
				<td><label class='right'>Support ProcrasDonate: </label></td>
				<!-- <td><div id='support_slider' class='slider' alt='{{ pct }}'></div></td>-->
				<td><input id='support_input' class='press_enter_for_next input' alt='{{ pct }}' value='{{ pct }}' size='3'/></td>
				<td><span class='help'>% of total donation</span></td>
			</tr>
		</tbody>
	</table>
</form>
