{% extends 'procrasdonate/base.html' %}

{% block content %}
	
	<p>This area is <b>exclusively</b> for the use of ProcrasDonate organizers.
		<i>Organizers</i> are the staff or board member who is responsible for maintaining a charity's profile page and messages.
	</p>
	<p>If you represent a non-profit that is not listed <b>please</b> email us at 
			<a href="mailto:ProcrasDonate@bilumi.org">ProcrasDonate@bilumi.org.</a>
	</p>
	
	<h3>Login</h3>
	<form method="post">
		<table><tbody>
			<tr>
				<td><label>Username: </label></td>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td><label>Password: </label></td>
				<td><input type="password" name="password" /></td>
			</tr>
		</tbody></table>
		<input type="submit" value="Login" />
		<a href="{% url reset_password %}">Forgot password?</a>
	</form>
{% endblock %}
