{% extends 'procrasdonate/base.html' %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block content %}
	<div id="thin_column">
		{% if error %}<p class="error">{{ error }}</p>{% endif %}
		<form method="post">
			<p>Forgot your username or password? No problem.
			We can email you your username and a one-step instruction
			for setting a new password.</p>
			
			<p>Enter your ProcrasDonate <b>username</b> 
			or <b>email</b> below.</p>
			
			<input type="text" name="username_or_email" />
			<input type="submit" value="Reset password!" />
			
			<p>If you still have problems please send us an <a href="" class="insert_procrasdonate_email">email</a>.
			</p>
		</form>
	</div>
{% endblock %}
