<h2>My Impact</h2>

<h3>Donations and Pledges</h3>

<ul id="impact_submenu">
	{% for item in substate_menu_items.menu_items %}
		<li id="{{ item.id }}"
			class="{% for klass in item.klasses %}{{ klass }} {% endfor %}">
			{{ item.value }}</li>
	{% endfor %}
</ul>

<table id="impact_table" cellspacing="0">
<thead>
	<tr>
		{% for header in table_headers %}
			<th>{{ header }}</th>
		{% endfor %}
	</tr>
</thead>
<tbody>
	{% for row in table_rows %}
	<tr class="{% if forloop.is_odd %}odd{% else %}even{% endif %}">
		{% for cell in row %}
			<td>{{ cell }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</tbody>
</table>
