<h2>My Progress</h2>

{{ substate_menu }}

	<div class="side_note">
		<img
			class="screenshot-long"
			src="{{ constants.MEDIA_URL }}img/ScreenshotUnsorted.png"
			style="float:right;" />  
		<p>Remember: you can casually sort your websites by clicking the sorting button in your Firefox toolbar at any time.</p>
	</div>
	
	<h3>Website Sorting</h3>
	<p>Classify your websites by clicking on the green arrows below.</p>
	

	
<img class="Spacer" src="{{ constants.MEDIA_URL }}img/ClearBox.png"/>

<div id='site_classifications'>
	<div id='procrasdonate_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" class="icon-image">		
			ProcrasDonate
		</div>
		<div class='add_website'>
			<input type="text" name="procrasdonate" value="add website here" />
			<input type="button" class="add" value="add" />
		</div>
		{{ procrasdonate_text }}
	</div>
	<div id='unsorted_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ToolbarImages/UnsortedIcon.png" class="icon-image">		
			Unsorted
		</div>
		<div class='add_website'>
			<input type="text" name="unsorted" value="add website here" />
			<input type="button" class="add" value="add" />
		</div>
		{{ unsorted_text }}
	</div>
	<div id='timewellspent_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ToolbarImages/TimeWellSpentIcon.png" class="icon-image">		
			Time Well Spent
		</div>
		<div class='add_website'>
			<input type="text" name="timewellspent" value="add website here" />
			<input type="button" class="add" value="add" />
		</div>
		{{ timewellspent_text }}
	</div>
</div>
