<h2>My Progress</h2>

{{ substate_menu }}

<h3>Website Categorizations</h3>  
	<p>
		Click on the green arrows to move websites to neighboring columns.  
		You can also classify websites by clicking the icons in your Firefox toolbar.
	</p>
	
<img class="Spacer" src="{{ constants.MEDIA_URL }}img/ClearBox.png"/>

<div id='site_classifications'>
	<div id='procrasdonate_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" class="icon-image">		
			ProcrasDonate
		</div>
		{{ procrasdonate_text }}
	</div>
	<div id='unsorted_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ToolbarImages/UnsortedIcon.png" class="icon-image">		
			Unsorted
		</div>
		{{ unsorted_text }}
	</div>
	<div id='timewellspent_col' class='column'>
		<div class='title'>
			<img src="{{ constants.MEDIA_URL }}img/ToolbarImages/TimeWellSpentIcon.png" class="icon-image">		
			Time Well Spent
		</div>
		{{ timewellspent_text }}
	</div>
</div>
