<div id="{{ submenu_id }}" class="extn_submenu">
{# ROW 1 #}
	<ul>
	{% for item in substate_menu_items.menu_items %}
		<li class="{% for klass in item.klasses %}{{ klass }} {% endfor %}">
			{% if item.url %}<a href="{{ item.url }}">{% endif %}
				<img src="{{ item.img }}" />
			{% if item.url %}</a>{% endif %}
		</li>
		<li class="bar">
			{% if not forloop.last %}
				<img src="{{ item.bar }}" />
			{% endif %}
		</li>
	{% endfor %}
	</ul>
	
{# ROW 2 #}
	<ul class="menu_text">
	{% for item in substate_menu_items.menu_items %}
		<li class="{% for klass in item.klasses %}{{ klass }} {% endfor %}">
			{% if item.url %}<a href="{{ item.url }}">{% endif %}
				{{ item.value }}
			{% if item.url %}</a>{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>
