{{ substate_menu }}
{{ arrows }}

<form method="post" action="{{ action }}">
	{% for param in form_params %}
		<input
			type="hidden"
			name="{{ param.name }}"
			value="{{ param.value }}"
			class="{{ param.name }}" />
	{% endfor %}
	<input
		type="image"
		class="go_to_amazon_button"
		src="{{ constants.MEDIA_URL }}img/GoAmazonButton.png"
		id="top_go_to_amazon_button" />
</form>

<div id="multi_auth_status">
	{{ multi_auth_status }}
</div>

<h5>How would you like to pay for using ProcrasDonate?</h5>

<p>We're making improvements all the time and your support keeps us rolling!</p>

<div class="split_arrow_div" class="left">
	<img class="split_arrow" src="{{ constants.MEDIA_URL }}img/SplitArrows.png" />
</div>

<div id="support_middle">
</div>

<h5>Your final step is to automate payments through Amazon.com.</h5>
<ul>
	<li>Payments to registered 501c3 non-profits will be fully <b>tax deductible</b>.</li>
	<li>For added security, your potential donations are <b>capped</b> so that you cannot be charged more than one year's worth of maximal giving at your current settings.</li>
	<li>You will have to <b>reauthorize</b> once your pledges have exceeded this cap.</li>
</ul>

{% if not multi_auth or not multiuse.good_to_go %}
	<p>Click on <span id="go_to_amazon" class="link">Go to Amazon to approve payments!</span>
		when you're ready.</p>
	
		<form method="post" action="{{ action }}">
			{% for param in form_params %}
				<input
					type="hidden"
					name="{{ param.name }}"
					value="{{ param.value }}"
					class="{{ param.name }}" />
			{% endfor %}
			<input
				type="image"
				class="go_to_amazon_button"
				src="{{ constants.MEDIA_URL }}img/GoAmazonButton.png" />
		</form>
{% endif %}

{{ arrows }}
