{{ substate_menu }}

<h1>Updates, affirmations and thankyou notes</h1>
<p>blah blah</p>

<h2>Email address</h2>
<p>Blah blah blah</p>
<p><label>Please enter your email address and check it twice</label><input
	type="text"
	id="email"
	name="email" 
	value="{{ email }}" />
   </p>

<h2>Permissions</h2>
<p>Blah blah blah</p>
<p><input
	type="checkbox"
	id="a"
	name="a" 
	value="{{ a }}" />
   <span>blah blah blah</span>
   </p>

<p><input
	type="checkbox"
	id="a"
	name="a" 
	value="{{ a }}" />
   <span>blah blah blah</span>
   </p>
   
<p><input
	type="checkbox"
	id="a"
	name="a" 
	value="{{ a }}" />
   <span>blah blah blah</span>
   </p>

<h2>Terms of service</h2>
<p>Blah blah blah</p>
<p><input
	type="checkbox"
	id="a"
	name="a" 
	value="{{ a }}" />
   <span>blah blah blah</span>
   </p>
