{{ substate_menu }}
{{ arrows }}

<p id="error"></p>

<h5>Where would you like to receive weekly feedback and alerts?</h5>  

<p>We do not share your email; not even with organizations that you donate to.
</p>

<p><label>Email </label><input
	type="text"
	id="email"
	name="email" 
	value="{{ email }}" />
</p>

<h5>Do you deduct charitable donations from your taxes?</h5>
<p></p>
<div class="split_arrow_div" class="left">
	<img class="split_arrow" src="{{ constants.MEDIA_URL }}img/SplitArrows.png" />
</div>


<div id="tax_deductions_middle">
</div>

<br>

<div id="terms_of_service_box">
	<h2>Terms of service</h2>
	<p><input
		type="checkbox"
		id="tos"
		name="tos"
		{% if tos %}checked{% endif %} />
	   <span>I have read and agree to the following Terms of Service.</span>
	   </p>
	
	By using our service you agree to the following:
	
	<p>- You are responsible for abiding by these terms as well as any updates that ProcrasDonate may make 
		to these terms without warning or notification.
	</p>
	<p>- You understand how our service works and are willingly participating.
	</p>
	<p>- You will pay all pledges that have been properly made on your behalf in full.
	</p>
	<p>- Voluntary monthly fees and a percentage that you determine of each transaction will be
		paid to ProcrasDonate.
	</p>
	<p>- You are solely responsible for any content that you add to this site. 
	</p>
	<p>- Illegal, unfriendly, or otherwise problematic content will be removed.
	</p>
	<p>- Your individual records and settings are under your control.  
	Although our central server will collect your records to approve payments 
	and collect community statistics - a reasonable effort will be made to keep
	your browsing history and other records anonymous.
	</p>
	<p>- All rights are reserved including ProcrasDonate intellectual property of
		our business model and any software beyond the open source software 
		that we are using.
	</p>
	<p> Thanks for ProcrasDonating!
	</p>
</div>	

{{ arrows }}
