{{ substate_menu }}

<h1>Supporting our service</h1>
<p>blah blah</p>

<h2>Monthly membership fee</h2>
<p>Blah blah blah</p>
<p><input
	type="text"
	id="monthly_fee"
	name="monthly_fee" 
	value="{{ monthly_fee }}" />
   <span class="units">dollars per month</span></p>

<h2>Percentage of payment transactions</h2>
<p>Blah blah blah</p>
<p><input
	type="text"
	id="support_pct"
	name="support_pct" 
	value="{{ support_pct }}" />
   <span class="units">%</span>
   <span class="help">e.g., 4.25 for 4.25%</span>
   </p>
