{{ substate_menu }}
{{ arrows }}

<h1>Hourly Incentive</h1>

<h2>Goal: 
	<span class="subheader">What is your ProcrasDonation goal? </span></h2>
<p id="goal_error" class="error"></p>
<p>We all like to procrastinate a little bit.  
	<br>So how many hours per week of noodling around online would you like to strive for?</p>
<p><input
	type="text"
	id="pd_hr_per_week_goal"
	name="pd_hr_per_week_goal" 
	value="{{ pd_hr_per_week_goal }}" />
   <span class="units">hours per week</span></p>

<h2>Incentive: 
	<span class="subheader">What is your time worth? </span></h2>
<p id="rate_error" class="error"></p>

<div class="example_gauge">
	<div id="happy_example_gauge"></div>
</div>

<p>Create an incentive for good time management 
	by making a pledge to your favorite charities.  
	<br>This is a pledge to 
	automatically donate for every hour you spend ProcrasDonating online.
</p>
<p><input
	type="text"
	id="pd_dollars_per_hr"
	name="pd_dollars_per_hr" 
	value="{{ pd_dollars_per_hr }}" />
   <span class="units">dollars per hour</span></p>

<h2>ProcrasDonation Limit: 
	<span class="subheader">What is your weekly limit? </span></h2>
<p id="max_error" class="error"></p>
<p>What is the most number hours in a week that you want to keep track of?  
	<br>No further pledges can be made in a week where you have 
	already reached your limit.</p>
<p><input
	type="text"
	id="pd_hr_per_week_max"
	name="pd_hr_per_week_max" 
	value="{{ pd_hr_per_week_max }}" />
   <span class="units">hours per week</span></p>

{{ arrows }}
