{{ substate_menu }}

<h1>Voluntarily pay for online content</h1>

<h2>TimeWellSpent payments</h2>
<p>Blah blah blah</p>
<p><input
	type="text"
	id="tws_dollars_per_hr"
	name="tws_dollars_per_hr" 
	value="{{ tws_dollars_per_hr }}" />
   <span class="units">dollars per hour</span></p>

<h2>TimeWellSpent Limit</h2>
<p>Blah blah blah</p>
<p><input
	type="text"
	id="tws_hr_per_week_max"
	name="tws_hr_per_week_max" 
	value="{{ tws_hr_per_week_max }}" />
   <span class="units">hours per week</span></p>
