
<ul>
	{% for item in substate_menu_items.menu_items %}
		<li class="{% for klass in item.klasses %}{{ klass }} {% endfor %}">
			{{ item.value }}</li>
	{% endfor %}
</ul>

{% if substate_menu_items.prev %}
<span id="{{ substate_menu_items.prev.id }}" class="prev">PREV</span>
{% endif %}

{% if substate_menu_items.next %}
<span id="{{ substate_menu_items.next.id }}" class="next">NEXT</span>
{% endif %}

{% ifequal substate_menu_items.next.value "XXX" %}
	<span id="{{ substate_menu_items.next.id }}" class="done">DONE</span>
{% endifequal %}

<h1>Updates, affirmations and thankyou notes</h1>
<p>In order to help you keep track of your time management progress, our
	system will use your preferences to provide you with weekly
	feedback in the form of emails and/or alerts.
</p>
<p> Due to user preference, your email address will not even be shared with 
	the organizations you support.  
	However, our system does allow your supported organizations to create 
	automatic thank you notes and year-end updates so that they can 
	let you know how your contributions help to further their missions.
</p>
<p>By the way, although your ProcrasDonate records are anonymous, Amazon
	does include your full name (but not your contact information) on the 
	transaction receipt that the organizations you donate to will receive.  
</p>
<p>
	Please set your communication preferences below:
</p>
<h2>Email address</h2>
<p><label>Please enter your email address and check it twice</label><input
	type="text"
	id="email"
	name="email" 
	value="{{ email }}" />
   </p>

<h2>Permissions</h2>
<p>Only check off one of the boxes below if you want to opt out of 
	receiving that service.</p>
<p><input
	type="checkbox"
	id="a"
	name="a" 
	value="{{ a }}" />
   <span>I do not want to receive weekly affirmation emails/alerts on the 
   	progress I am making towards my goals.</span>
   </p>

<p><input
	type="checkbox"
	id="a"
	name="a" 
	value="{{ a }}" />
   <span>I do not want to receive occasional thank you notes from the 
   		organizations that I support.</span>
   </p>
   
<p><input
	type="checkbox"
	id="a"
	name="a" 
	value="{{ a }}" />
   <span>I do not want to receive a year end newsletter from the 
   organizations that I support.</span>
   </p>

<h2>Terms of service</h2>
<p><input
	type="checkbox"
	id="a"
	name="a" 
	value="{{ a }}" />
   <span>I have read and agree to the following Terms of Service.</span>
   </p>

By using our service you agree to the following:

<p>- You agree to these terms and any updates that ProcrasDonate may make 
	without warning or notification.
</p>
<p>- You understand how our service works and are willingly participating.
</p>
<p>- You agree to pay all pledges made on your behalf in full.
</p>
<p>- Voluntary monthly fees and a percentage that you determine of each transaction will be
	paid to ProcrasDonate.
</p>
<p>- You are solely responsible for any content that you add to this site. 
</p>
<p>- Illegal, unfriendly, or otherwise problematic content will be removed.
</p>
<p>- Your individual records and settings are under your control.  
Although our central server will collect your records to approve payments 
and collect community statistics - a reasonable effort will be made to keep
your browsing history and other records anonymous.
</p>
<p>- All rights are reserved including ProcrasDonate intellectual property of
	our business model and any software beyond the open source software 
	that we are using.
</p>
<p> Thanks for ProcrasDonating!
</p>