<img
	class="done {{ substate_menu_items.next.id }}"
	src="/procrasdonate_media/img/DoneButton.png" />
	
<h1>Time Well Spent</h1>

<ul><li>The time that you spend on websites you've marked as Time Well Spent will not result in donations to your favorite charities.
</li><li>
If you'd like to support quality websites directly then you can set up hourly donations that benefit the content providers of TWS sites.
</li></ul>

<h2>Payments:
	<span class="subheader">What is quality online content worth to you?</span></h2>
<p id="rate_error" class="error"></p>

<p>What would you like to pay content providers of websites that you mark as TimeWellSpent for the time that you spend using them?  
	</p>
	
<p>''I will pay <input
	type="text"
	id="tws_dollars_per_hr"
	name="tws_dollars_per_hr" 
	value="{{ tws_dollars_per_hr }}" />
   <span class="units">dollars</span> per hour I spend on TimeWellSpent websites.''</p>

<h2>Limit: 
	<span class="subheader">What is the most you'd like to pay per week of TWS? </span></h2>
<p id="max_error" class="error"></p>
<p>''Limit my total TWS donations to
	<input
	type="text"
	id="tws_hr_per_week_max"
	name="tws_hr_per_week_max" 
	value="{{ tws_hr_per_week_max }}" />
   <span class="units">hours</span> per week.  This will not change my existing ProcrasDonation limit.''</p>

<img
	class="done {{ substate_menu_items.next.id }}"
	src="/procrasdonate_media/img/DoneButton.png" />
