{{ substate_menu }}

<h1>Voluntarily pay for online content</h1>

<p>You can also use hourly time tracking to pledge directly to websites you 
	consider worthwhile. 
	<br>Together we can keep quality content available for everyone.  
</p>

<h2>TimeWellSpent payments</h2>
<p>How much would you like to pay for every hour you spend using websites
	you mark as TimeWellSpent? 
	(This will not change your ProcrasDonation incentive.)</p>
<p><input
	type="text"
	id="tws_dollars_per_hr"
	name="tws_dollars_per_hr" 
	value="{{ tws_dollars_per_hr }}" />
   <span class="units">dollars per hour</span></p>

<h2>TimeWellSpent Limit</h2>
<p>What is your weekly limit, beyond which no TimeWellSpent pledges will be 
	made?  (This will not change your ProcrasDonation limit.)</p>
<p><input
	type="text"
	id="tws_hr_per_week_max"
	name="tws_hr_per_week_max" 
	value="{{ tws_hr_per_week_max }}" />
   <span class="units">hours per week</span></p>
