{% if substate_menu_items %}
	simple case works
{% endif %}

{% if substate_menu_items.prev %}
	prev
	{% if substate_menu_items.prev.url %}<a href="{{ substate_menu_items.prev.url }}">{% endif %}
		<img
		  class="prev {{ substate_menu_items.prev.id }}"
		  src="{{ constants.MEDIA_URL }}img/BackArrow.png" />
  {% if substate_menu_items.prev.url %}</a>{% endif %}
{% else %}
	no prev
	{% if not substate_menu_items.no_spacers %}
		spacers
	<img
	  class="prev"
	  src="{{ constants.MEDIA_URL }}img/Spacer.png" />
	{% endif %}
{% endif %}

{% if substate_menu_items.next %}
	{% ifequal substate_menu_items.next.value "XXX" %}
		<img
		  class="done {{ substate_menu_items.next.id }}"
		  src="{{ constants.MEDIA_URL }}img/DoneButton.png" />
	{% else %}
		{% ifequal substate_menu_items.next.value "XXXX" %}
			{# ifnotequal does not work #}
		{% else %}
			{% if substate_menu_items.next.url %}<a href="{{ substate_menu_items.next.url }}">{% endif %}
				<img
				  class="next {{ substate_menu_items.next.id }}"
				  src="{{ constants.MEDIA_URL }}img/NextArrow.png" />
			{% if substate_menu_items.next.url %}</a>{% endif %}
		{% endifequal %}
	{% endifequal %}
{% else %}
	{% if not substate_menu_items.no_spacers %}
	<img
	  class="next"
	  src="{{ constants.MEDIA_URL }}img/Spacer.png" />
	{% endif %}
{% endif %}

<div class="arrow_errors errors"></div>
