{{ substate_menu }}

<div id="multi_auth_status">
	{{ multi_auth_status }}
</div>

<h1>Approving payments</h1>
<p>Your final step is to automate turning pledges into payments.</p>
<ul>
	<li>Payments to registered 501c3 non-profits will be fully tax deductible.</li>
	<li>Payments will be fully refundable up to 30 days after they are made.</li>
	<li>No one else will be able to make payments on your behalf.</li>
</ul>

{% if not multi_auth or not multiuse.good_to_go %}
	<p>Click on <span id="go_to_amazon" class="link">Go to Amazon to approve payments</span>
		when you are ready.</p>
	
	<h2>Determining an overall limit</h2>
	<p>How often do you want to have to re-authorize payments for your account?</p>
	<p>Once every <input
		type="text"
		id="min_auth_time_input"
		class="min_auth_time"
		name="min_auth_time" 
		value="{{ min_auth_time.time }}" />
		<span class="units min_auth_units">{{ min_auth_time.units }}</span>
	   </p>
	
	<p>You will donate at most
		<b>$<span id="max_amount_paid">{{ max_amount_paid }}</span></b>
		
		in <span id="min_auth_time_display">{{ min_auth_time.time }}</span>
		<span id="min_auth_units_display">{{ min_auth_time.units }}</span>,
		
		based on your
		ProcrasDonation rate of ${{ pd_dollars_per_hr }} per hour and limit of
		{{ pd_hr_per_week_max }} hours per week.</p>
	
		<form method="post" action="{{ action }}">
			{% for param in form_params %}
				<input type="hidden" name="{{ param.name }}" value="{{ param.value }}" />
			{% endfor %}
			<input
				type="image"
				id="go_to_amazon_button"
				src="{{ constants.MEDIA_URL }}img/GoAmazonButton.png" />
		</form>
{% endif %}
