{{ substate_menu }}
{{ arrows }}

<h5>Who should benefit from your charitable incentive?</h5>
<p>Find and select organizations below.  
Modify each's percentage (%) until you like how your pledges will be divided.  
</p>

<div id="errors"></div>

<h2>My Selected Charities</h2>

<div id="chosen_charities">
	{% if chosen_charities %}
		{% for deep_recip_pct_html in chosen_charities %}
			{{ deep_recip_pct_html }}
		{% endfor %}
	{% else %}
		<p>Please add at least one charity.</p>
	{% endif %}
</div>

{% comment %}
<h2>Find other charities:</h2>

<select name="categories">
	<option value="null">Select Category</option>
	{% for category in categories %}
		<option value="{{ category.id }}"
			{% ifequal selected_category.id category.id %} selected {% endifequal %}>
				{{ category.category }}
		</option>
	{% endfor %}
</select>

<p style="margin-left: 5em;">or</p>

<p>
	<label>Search all listings</label>
	<input type="text" id="" name="" />
	<input type="button" value="Search!" />
</p>

<div id="charity_results">
	{% for deep_recip_html in charity_results %}
		{{ deep_recip_html }}
	{% endfor %}
</div>

{% endcomment %}

<h2>Invite New Charities</h2>
<p>You can pledge to an unlisted charity by entering their name below.
	We will contact them and when they make a free account then your pledges will become donations.
</p>
		
<p>
	<label>Name of unlisted charity to invite:</label>
	<input id="new_recipient_name" type="text" size="30" />

	<input
		id="new_recipient_submit"
		type="image"
		src="{{ constants.MEDIA_URL }}img/AddRecipient.png"
		value="add new recipient"/>
</p>

{% if staff_picks %}
<h2>Staff Picks</h2>
	{% for recipient_html in staff_picks %}
		{{ recipient_html }}
	{% endfor %}
{% endif %}

{% if recently_added %}
<h2>Recently Added</h2>
	{% for recipient_html in recently_added %}
		{{ recipient_html }}
	{% endfor %}
{% endif %}

<div id="removed_charities_temporary"></div>
	
{% comment %}
<p class="new_recipient">
	Optionally provide a website or email to help us contact the charity.
</p>
<p class="new_recipient">
	<label>Website</label>
	<input id="new_recipient_website" type="text" />
	<label>Email</label>
	<input id="new_recipient_email" type="text" size="23" />
</p>
{% endcomment %}

{{ arrows }}
