{{ substate_menu }}

<h1>Charitable recipients</h1>
<p>BLah blah blah</p>

<h2>Selected charities</h2>
<table>
<tbody>
{% for charity in charities %}
	<tr>
		<td>{{ charity.html }}</td>
		<td><input
	id="{{ charity.id }}_percent"
	name="{{ charity.id }}_percent" 
	value="{{ charity.percent }}" />%</td>
	</tr>
{% endfor %}
</tbody>
</table>

<h2>Find other charities</h2>
<select>
	<option>Select Category</option>
	{% for category in categories %}
	<option>{{ category.name }}</option>
	{% endfor %}
</select>

<p style="margin-left: 5em;">or</p>

<p>
<label>Search all listings</label>
<input type="text" id="" name="" />
<input type="button" value="Search!" />
</p>


<h2>Invite new charity</h2>
<p>Blah blah blah</p>
<p>
<label>Charity name</label>
<input type="text" id="" name="" />
<input type="button" value="Search!" />
</p>
