
<ul>
	{% for item in substate_menu_items.menu_items %}
		<li id="{{ item.id }}"
			class="{% for klass in item.klasses %}{{ klass }} {% endfor %}">
			{{ item.value }}</li>
	{% endfor %}
</ul>

<h1>My Settings</h1>

<h2>Payment Status</h2>
<p>Estimated time until payment re-authorization is needed: 
{{ estimated_time_till_reauth.time }} {{ estimated_time_till_reauth.units  }}</p>

<h2>ProcrasDonate</h2>
<p>Weekly ProcrasDonate goal: 
	<span class="thevalue" id="pd_hr_per_week_goal">{{ pd_hr_per_week_goal }}</span> hrs
	<span class="up_arrow">up</span><span class="down_arrow">down</span><span class="error"></span></p>
<p>Weekly ProcrasDonate rate:
	$<span class="thevalue" id="pd_dollars_per_hr">{{ pd_dollars_per_hr }}</span> per hr
	<span class="up_arrow">up</span><span class="down_arrow">down</span><span class="error"></span></p>
<p>Weekly ProcrasDonate limit:
	<span class="thevalue" id="pd_hr_per_week_max">{{ pd_hr_per_week_max }}</span> hrs
	<span class="up_arrow">up</span><span class="down_arrow">down</span><span class="error"></span></p>

<h2>TimeWellSpent</h2>
<p>Weekly TimeWellSpent goal:
	<span class="thevalue" id="tws_hr_per_week_goal">{{ tws_hr_per_week_goal }}</span> hrs
	<span class="up_arrow">up</span><span class="down_arrow">down</span><span class="error"></span></p>
<p>Weekly TimeWellSpent rate:
	$<span class="thevalue" id="tws_dollars_per_hr">{{ tws_dollars_per_hr }}</span> per hr
	<span class="up_arrow">up</span><span class="down_arrow">down</span><span class="error"></span></p>
<p>Weekly TimeWellSpent limit
	<span class="thevalue" id="tws_hr_per_week_max">{{ tws_hr_per_week_max }}</span> hrs
	<span class="up_arrow">up</span><span class="down_arrow">down</span><span class="error"></span></p>
	
<h2>Support This Service</h2>
<p>Monthly membership fee: $<span class="thevalue" id="monthly_fee">{{ monthly_fee }}</span> per month
	<span class="up_arrow">up</span><span class="down_arrow">down</span><span class="error"></span></p>
<p>Per transaction percentage charge: <span class="thevalue" id="support_pct">{{ support_pct }}</span>%
	<span class="up_arrow">up</span><span class="down_arrow">down</span><span class="error"></span></p>

<h2>Updates</h2>
<p>Preferred email address: <span class="thevalue" id="email_id">{{ email }}</span></p>
<p><input class="thevalue" type="checkbox" {% if receive_weekly_affirmations %}checked{% endif %} />
Yes, I want to receive weekly affirmation on the progress I am making towards my goals.</p>

<p><input class="thevalue" type="checkbox" {% if receive_thankyous %}checked{% endif %} />
Yes, I want to receive occaissional thank you notes forwarded from the charities that I support.</p>

<p><input class="thevalue" type="checkbox" {% if receive_newsletters %}checked{% endif %} />
Yes, I want to receive forwarded year end newsletters from the charities that I support.</p>
