
<table>
<tbody>
<tr>
	<td align="left">
		<input
		class="support_method_radio"
		type="radio"
		name="support_method"
		value="monthly"
		{% ifequal support_method "monthly" %}checked{% endifequal %} />
	<label>Monthly Subscription</label>
	</td>
	<td align="left">
			<input
		class="support_method_radio"
		type="radio"
		name="support_method"
		value="percent"
		{% ifequal support_method "percent" %}checked{% endifequal %}>Transaction Percent</input>
	</td>	
</tr>	
<tr>
<td class="support_method_monthly {% ifequal support_method "percent" %}disabled{% endifequal %}">
	<p>"Please charge me a membership services fee of 	
	<input
		type="text"
		id="monthly_fee"
		name="monthly_fee" 
		value="{{ monthly_fee }}"
		size="4"
		{% ifequal support_method "percent" %}disabled{% endifequal %} />
	   dollars per month."		
	</p>
	<span class="units"></span>
   <span id="monthly_error" class="error"></span></p>
   <ul><li>Choosing this option benefits your charities since they'll get more out of each donation.
		</li>
	</ul>
</td>
<td class="support_method_percent {% ifequal support_method "monthly" %}disabled{% endifequal %}">
	<p>
		"Please subtract a 
			<input
			type="text"
			id="support_pct"
			name="support_pct" 
			value="{{ support_pct }}"
			size="4"
			{% ifequal support_method "monthly" %}disabled{% endifequal %} />
		   <span class="units"></span>
		   <span id="support_error" class="error"></span>
	  	% transfer service fee from my donations." 
	<ul><li>This is a good option if your donations may not be large enough to justify paying a monthly fee.
		</li>
	</ul>	
	</p>
</td>
</tr>
</tbody>
</table>
