<table>
<tbody>
<tr>
	<td align="left">
		<input
		class="tax_deductions_radio"
		type="radio"
		name="tax_deductions"
		value="yes"
		{% if tax_deductions %}checked{% endif %}>Yes</input>
	</td>
	<td align="left">
		<input
		class="tax_deductions_radio"
		type="radio"
		name="tax_deductions"
		value="no"
		{% if not tax_deductions %}checked{% endif %}>No</input>
	</td>
</tr>
<tr>
<td class="tax_deductions {% if not tax_deductions %}disabled{% endif %}">
	<p><input
		type="checkbox"
		name="org_thank_yous"
		class="comm_radio"
		{% if not tax_deductions %}disabled{% endif %}
		{% if org_thank_yous %}checked{% endif %} />
	   <span>''Please forward occasional thank you notes from 
	   		organizations I support.''</span>
	   </p>
	   
	<p><input
		type="checkbox"
		name="org_newsletters"
		class="comm_radio"
		{% if not tax_deductions %}disabled{% endif %}
		{% if org_newsletters %}checked{% endif %} />
	   <span>''Please forward occasional newsletters from 
	   organizations I support.''</span>
	   </p>
	<ul><li>Organizations you support will have access to your mailing address to send you appropriate tax documentation.</li>
	</ul>
	{% for field in address_fields %}
		<p>
			<label>{{ field.display }}</label>
			<input
				type="text"
				name="{{ field.name }}"
				{% if not tax_deductions %}disabled{% endif %}
				value="{{ field.value }}" />
		</p>
	{% endfor %}

</td>
<td class="not_tax_deductions {% if tax_deductions %}disabled{% endif %}">
		name="org_thank_yous"
		class="comm_radio"
		{% if tax_deductions %}disabled{% endif %}
		{% if org_thank_yous %}checked{% endif %} />
	   <span>''Please forward occasional thank you notes from 
	   		organizations I support.''</span>
	   </p>
	   
	<p><input
		type="checkbox"
		name="org_newsletters"
		class="comm_radio"
		{% if tax_deductions %}disabled{% endif %}
		{% if org_newsletters %}checked{% endif %} />
	   <span>''Please forward occasional newsletters from 
	   organizations I support.''</span>
	   </p>

	<ul><li>Organizations you support will see your name but not your address on their receipts.</li>
	</ul>

</td>
</tr>
</tbody>
</table>
