
<p><input
	type="checkbox"
	id="weekly_affirmations"
	name="weekly_affirmations" 
	{% if weekly_affirmations %}checked{% endif %} />
   <span>I want to receive weekly affirmation emails/alerts on the 
   	progress I am making towards my goals.</span>
   </p>

<p><input
	type="checkbox"
	id="org_thank_yous"
	name="org_thank_yous"
	{% if org_thank_yous %}checked{% endif %} />
   <span>I want to receive occasional thank you notes from the 
   		organizations that I support.</span>
   </p>
   
<p><input
	type="checkbox"
	id="org_newsletters"
	name="org_newsletters"
	{% if org_newsletters %}checked{% endif %} />
   <span>I want to receive a year end newsletter from the 
   organizations that I support.</span>
   </p>
{% if tax_deductions %}
	{% for field in address_fields %}
		<p>
			<label>{{ field.display }}</label>
			<input type="text" name="{{ field.name }}" value="{{ field.value }}" />
		</p>
	{% endfor %}
{% endif %}
