<table>
<tbody>
<tr>
<td class="tax_deductions {% if not tax_deductions %}disabled{% endif %}">
	<p><input
		type="checkbox"
		id="weekly_affirmations"
		name="weekly_affirmations"
		class="comm_radio"
		{% if not tax_deductions %}disabled{% endif %}
		{% if weekly_affirmations %}checked{% endif %} />
	   <span>I want to receive weekly affirmation emails/alerts on the 
	   	progress I am making towards my goals.</span>
	   </p>
	
	<p><input
		type="checkbox"
		id="org_thank_yous"
		name="org_thank_yous"
		class="comm_radio"
		{% if not tax_deductions %}disabled{% endif %}
		{% if org_thank_yous %}checked{% endif %} />
	   <span>I want to receive occasional thank you notes from the 
	   		organizations that I support.</span>
	   </p>
	   
	<p><input
		type="checkbox"
		id="org_newsletters"
		name="org_newsletters"
		class="comm_radio"
		{% if not tax_deductions %}disabled{% endif %}
		{% if org_newsletters %}checked{% endif %} />
	   <span>I want to receive a year end newsletter from the 
	   organizations that I support.</span>
	   </p>
	{% for field in address_fields %}
		<p>
			<label>{{ field.display }}</label>
			<input
				type="text"
				name="{{ field.name }}"
				{% if tax_deductions %}disabled{% endif %}
				value="{{ field.value }}" />
		</p>
	{% endfor %}
</td>
<td class="not_tax_deductions {% if tax_deductions %}disabled{% endif %}">
	<p><input
		type="checkbox"
		id="weekly_affirmations"
		name="weekly_affirmations"
		class="comm_radio"
		{% if tax_deductions %}disabled{% endif %} 
		{% if weekly_affirmations %}checked{% endif %} />
	   <span>I want to receive weekly affirmation emails/alerts on the 
	   	progress I am making towards my goals.</span>
	   </p>
	
	<p><input
		type="checkbox"
		id="org_thank_yous"
		name="org_thank_yous"
		class="comm_radio"
		{% if tax_deductions %}disabled{% endif %}
		{% if org_thank_yous %}checked{% endif %} />
	   <span>I want to receive occasional thank you notes from the 
	   		organizations that I support.</span>
	   </p>
	   
	<p><input
		type="checkbox"
		id="org_newsletters"
		name="org_newsletters"
		class="comm_radio"
		{% if tax_deductions %}disabled{% endif %}
		{% if org_newsletters %}checked{% endif %} />
	   <span>I want to receive a year end newsletter from the 
	   organizations that I support.</span>
	   </p>
</td>
</tr>
</tbody>
</table>
