<div class="test_message {% if is_fail %}fail{% else %}pass{% endif %}">
	<div class="summary">
		<span class="result">
			{% if is_fail %}<b>{{ expected }}</b>(expected) != <b>{{ actual }}</b>(actual)
			{% else %} {{ actual }}
			{% endif %}
		</span>
		<span class="numbers">
			<small>
				<small>{{ pd_hrs_three_week }}</small>
				{{ pd_hrs_two_week }}
			</small>
			{{ pd_hrs_one_week }} -> {{ pd_hr_per_week_goal }}
		</span> 
	</div>
	<div class="details">
		<div class="pd_hrs_one_week">hours procrasdonated one week ago: {{ pd_hrs_one_week }}</div>
		<div class="pd_hrs_two_week">hours procrasdonated two weeks ago: {{ pd_hrs_two_week }}</div>
		<div class="pd_hrs_three_week">hours procrasdonated three weeks ago: {{ pd_hrs_three_week }}</div>
		<div class="pd_hr_per_week_goal">procrasdonation goal: {{ pd_hr_per_week_goal }}</div>
		<div class="subject">subject: {{ subject }}</div>
		<div class="message">message: {{ message }}</div>
	</div>
</div>
