<style> 
<!--
	#procrasdonate_extn_top_bar {
		background-color: #f2e3f7;
		color: #000000;
		font-size: 12px;
		margin: 0 0 0 0;
		padding: 4px 4px;
		text-align: center;
		height: 24px;
	}
	
	#procrasdonate_extn_top_bar img {
		float: left;
		margin-left: 10px;
	}
	
	#procrasdonate_extn_top_bar a {
		color: blue;
		text-decoration: underline;
		border: none;
	}
	
	#close_procrasdonate_extn_top_bar {
		float: right;
		cursor: pointer;
		margin: 4px 10px;
	}
-->
</style>
   
 <div id="procrasdonate_extn_top_bar">
 	<a href="{{ constants.PD_URL }}{{ constants.PROGRESS_URL }}">
 		<img src="{{ constants.PD_URL }}{{ constants.MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" />
 	</a>
 	<div id="close_procrasdonate_extn_top_bar">[x]</div>
 	
 	<p>
		{% if not latest_report.is_read %}
			<a href="{{ constants.PD_URL }}{{ constants.MESSAGES_URL }}">New progress report.</a>
		{% else %}
			Good work!
		{% endif %}
	</p>
	{% comment %}
	{% if not registration_complete %}
		<a href="{{ constants.PD_URL }}{{ constants.REGISTER_URL }}">Finish registering.</a>
	{% endif %}
	{% endcomment %}
</div>
