{% extends 'procrasdonate/base.html' %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block content %}
	<h2>{{ user.private_key }}: {{ user.email }}</h2>
	
	<ul>
		<li>Receive weekly affirmations? {{ user.weekly_affirmations }}</li>
		<li>Receive charity thank yous? {{ user.org_thank_yous }}</li>
		<li>Receive charity newsletters? {{ user.org_newsletters }}</li>
	</ul>
	
	<h3>Most recent report</h3>
	
	{% for report in user.reports|slice:":1" %}
		<p>{{ report.dtime }}: <strong>{{ report.type }}</strong>
			({% if report.is_read %}read{% else %}unread{% endif %})
			({% if report.is_sent %}sent{% else %}unsent{% endif %})
		<pre>{{ report.message }}</pre>
	{% endfor %}
	
	<h3>Recipient Votes</h3>
	
	<ul>
		{% for rvote in user.recipient_votes %}
			<li>{{ rvote.name }}: 
				{% if rvote.url %}<a href="{{ rvote.url }}">{{ rvote.url }}</a>{% endif %}
				{% if rvote.recipient %}--> linked to {{ rvote.recipient }}
				{% else %}X not linked to any recipient{% endif %}</li>
		{% endfor %}
	</ul>
	
	<h3>Logs</h3>
	
	<ul>
		{% for log in user.logs|slice:":30" %}
			<li>{{ log.dtime }}: {{ log.log_type }}, {{ log.detail_type }} - {{ log.message }}</li>
		{% endfor %}
	</ul>

{% endblock %}
