{% extends 'procrasdonate/base.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/superuser.css">
	{{ block.super }}
	<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/superuser.js"></script>
{% endblock %}

{% block content %}
	<h2>Users</h2>
	
	<div id="superuser_links">
		<ul>
			<li><a href="{% url admin "" %}">Django Admin</a></li>
			<li>Organizer Registration Steps
				<ol>
					<li><a href="{% url admin "procrasdonate/recipient/add/" %}">Create Recipient</a></li>
					<li><a href="{% url register_organizer %}">Create Organizer</a></li>
				</ol>
			</li>
			<li><a href="{% url users %}">Users</a></li>
			<li><a href="{% url logs %}">Logs</a></li>
			<li><a href="{% url recipient_votes %}">Recipient Votes</a></li>
		</ul>
	</div>
	
	<div class="stats">
		<p>Number of users who...</p>
		<table><tbody>
			<tr>{% for key, title in stats_keys %}
				<td title="{{ title }}">{{ key }}</td>
			{% endfor %}</tr>
			<tr>{% for value in stats_values %}
				<td>{{ value }}</td>
			{% endfor %}</tr>
		</tbody></table>
	</div>
	
	<div class="stats">
		<p>Number of users using a particular extension release</p>
		<table><tbody>
			<tr>{% for key in version_keys %}
				<td>{{ key }}</td>
			{% endfor %}</tr>
			<tr>{% for value in version_values %}
				<td>{{ value }}</td>
			{% endfor %}</tr>
		</tbody></table>
	</div>
	
	<h3>Users</h3>
	
	{% load pagination_tags %}
	{% autopaginate users 25 %}
	
	<input
		type="checkbox"
		name="tos"
		onChange="checkbox_submit('tos', this);"
		{% if tos %}checked{% endif %}/>
	<label>Exclude users who have not agree to the TOS</label>
	
	{% paginate %}
	
	<div id="superuser_users">
		{% for user in users %}
			{% include 'procrasdonate/superuser/snippets/user_dashboard.html' %}
		{% endfor %}
	</div>
	
{% endblock %}
