{% extends 'procrasdonate/superuser/base.html' %}

{% block superuser_content %}
	<h2>Users</h2>
	
	<div class="stats">
		<p>Number of users who...</p>
		<table><tbody>
			<tr>{% for key, title in stats_keys %}
				<td title="{{ title }}">{{ key }}</td>
			{% endfor %}</tr>
			<tr>{% for value in stats_values %}
				<td>{{ value }}</td>
			{% endfor %}</tr>
		</tbody></table>
	</div>
	
	<div class="stats">
		<p>Number of users using a particular extension release</p>
		<table><tbody>
			<tr>{% for key in version_keys %}
				<td>{{ key }}</td>
			{% endfor %}</tr>
			<tr>{% for value in version_values %}
				<td>{{ value }}</td>
			{% endfor %}</tr>
		</tbody></table>
	</div>
	
	<h3>Users</h3>
	
	{% load pagination_tags %}
	{% autopaginate users 25 %}
	
	<input
		type="checkbox"
		name="tos"
		onChange="checkbox_submit('tos', this);"
		{% if tos %}checked{% endif %}/>
	<label>Exclude users who have not agree to the TOS</label>
	
	{% paginate %}
	
	<div id="superuser_users">
		{% for user in users %}
			{% include 'procrasdonate/superuser/snippets/user_dashboard.html' %}
		{% endfor %}
	</div>
	
{% endblock %}
