{% extends 'procrasdonate/superbase.html' %}

{% block supermiddle %}
<div id="wrapper" class="center_column">
	{% comment %}
	two columned layout: left menu, center content.
	we do it this way because if the left menu floated, then content would wrap underneath it.
	{% endcomment %}
	
	<table id="LayoutTable">
	<tbody>
	<tr>
	<td id="left_column">
	
		{# extension inserts id="ExtensionMenu" here #}

		<div id="MainMenu" class="menu">
			<div {% ifequal selected "home" %}class="here_we_are"{% endifequal %} id='home_menu_item'><a href="{% url home %}">Home</a></div>
			<div {% ifequal selected "community" %}class="here_we_are"{% endifequal %} id='community_menu_item'><a href="{% url community %}">Community</a></div>
			<div {% ifequal selected "faq" %}class="here_we_are"{% endifequal %} id='faq_menu_item'><a href="{% url faq %}">FAQ</a></div>
			<div id='about_us_menu_item'><a href="{% url about_us %}">About Us</a></div> 
		</div>
		
		<div id="OrganizerMenu" class="menu">
			<div {% ifequal selected "dashboard" %}class="here_we_are"{% endifequal %} id='dashboard_menu_item'>
			{% if request.user.is_authenticated %}
				<a href="{% url recipient_organizer_dashboard %}">Dashboard</a>
			</div>
			<div id='logout_menu_item'>
				<a href="{% url logout %}">Logout</a>
			{% else %}
				<a href="{% url login %}">Organizers</a>
			{% endif %}
			</div>
		</div>

		<div id="footer">
			<a target="_blank" href="http://feedback.procrasdonate.com">feedback</a>
		</div>
						
		{% if request.user.is_superuser %}
			<div id="AdminMenu">
				<a href="{% url superuser_dashboard %}">Admin</a>
			</div>
		{% endif %}
	
	</td>
	
	<td id="middle">
		<div id="StartButtonDiv" class="">
			{% with True as show_start_now %}
				{% include 'procrasdonate/straight_pages/snippets/start_now.html' %}
			{% endwith %}
		</div>
					
		{% if messages %}
		<table id="user_messages">
		<tbody><tr><td>
			<ul>
			    {% for message in messages %}
			    <li class="message">{{ message }}</li>
			    {% endfor %}
			</ul>
		</td></tr></tbody>
		</table>
		{% endif %}
		
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</td>
	</tr>
	</tbody>
	</table>
</div>
{% endblock %}
