<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% comment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endcomment %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<title>Procrastinate Less. {% block window_title %}Procrastination incentives through giving.{% endblock %}</title>
		
		<link rel="shortcut icon" href="{{ MEDIA_URL }}img/ProcrasDonateLogoNoText.png" type="image/x-icon" >

		{# <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.all.css"> #}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/procrasdonate.css">
	
		<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-1.2.6.min.js"></script>
		{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/ui.core.js"></script> #}
	 	{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/ui.slider.js"></script> #}
		
		{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/json2.js"></script> #}
		<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/procrasdonate.js"></script>
		{% block head %}{% endblock %}

	</head>

	<body>
		<div id="wrapper">
	  		{% comment %}
	  		<p class="above_layout_table">
	  		Payments through our service have been temporarily suspended because
			the third party payment service we've been using has gone out of
			business.  You are still welcome to continue using ProcrasDonate to
			classify websites and set weekly goals while we look into another
			payment option.</p>
			{% endcomment %}

			{# Three columned layout: left menu, center content, right menu #}
			
			<table id="LayoutTable">
			<tbody>
			<tr>
			<td id="left_column">
			
				<img id="left_logo" alt="" src="{{ MEDIA_URL }}img/ProcrasDonateLogoText.png">
	
				{# extension inserts id="ExtensionMenu" here #}
	
				<div id="MainMenu" class="menu">
					<div {% ifequal selected "home" %}class="here_we_are"{% endifequal %} id='home_menu_item'><a href="{% url home %}">Home</a></div>
					<div {% ifequal selected "community" %}class="here_we_are"{% endifequal %} id='community_menu_item'><a href="{% url community %}">Community</a></div>
					<div {% ifequal selected "faq" %}class="here_we_are"{% endifequal %} id='faq_menu_item'><a href="{% url faq %}">FAQ</a></div>
					<div id='about_us_menu_item'><a href="{% url about_us %}">About Us</a></div> 
				</div>
				
				<div id="OrganizerMenu" class="menu">
					<div {% ifequal selected "dashboard" %}class="here_we_are"{% endifequal %} id='dashboard_menu_item'>
					{% if request.user.is_authenticated %}
						<a href="{% url recipient_organizer_dashboard %}">Dashboard</a>
					</div>
					<div id='logout_menu_item'>
						<a href="{% url logout %}">Logout</a>
					{% else %}
						<a href="{% url login %}">Organizers</a>
					{% endif %}
					</div>
				</div>

				<div id="footer">
					<a target="_blank" href="http://feedback.procrasdonate.com">feedback</a>
				</div>
								
				{% if request.user.is_superuser %}
					<div id="AdminMenu">
						<a href="{% url superuser_dashboard %}">Admin</a>
					</div>
				{% endif %}
			
			</td>
			
			<td id="middle">
				<div id="StartButtonDiv" class="">
					{% with True as show_start_now %}
						{% include 'procrasdonate/straight_pages/snippets/start_now.html' %}
					{% endwith %}
				</div>
							
				{% if messages %}
				<table id="user_messages">
				<tbody><tr><td>
					<ul>
					    {% for message in messages %}
					    <li class="message">{{ message }}</li>
					    {% endfor %}
					</ul>
				</td></tr></tbody>
				</table>
				{% endif %}
				
				<div id="content">
					{% block content %}
					{% endblock %}
				</div>
			</td>
			
			<td id="right_column">
				
				<img id="right_logo" alt="" src="{{ MEDIA_URL }}img/LaptopLogo.png">
				
				<p class="video_label">
					<span class="video_intro_label"> 
						Spotlight On:<br>
					</span>
					{{ video1.caption|safe }}
				</p>
				<div id="video1" class="video_block">
					{% if video1 %}
						<object width="216" height="190">
							<param name="movie" value="{{ video1.video }}" />
							<param name="allowFullScreen" value="true" />
							<param name="allowscriptaccess" value="always" />
							<embed
								src="{{ video1.video }}"
								type="application/x-shockwave-flash"
								allowscriptaccess="always"
								allowfullscreen="true"
								width="216"
								height="190" />
						</object>
						
					{% endif %}
				</div>
				<p class="video_label">{{ video2.caption|safe }}</p>
				<div id="video2" class="video_block">
					{% if video2 %}
						<object width="216" height="190">
							<param name="movie" value="{{ video2.video }}" />
							<param name="allowFullScreen" value="true" />
							<param name="allowscriptaccess" value="always" />
							<embed
								src="{{ video2.video }}"
								type="application/x-shockwave-flash"
								allowscriptaccess="always"
								allowfullscreen="true"
								width="216"
								height="190" />
						</object>
					{% endif %}
				</div>
				<div id="footer">
					<div class="copyright">&copy; '09 ProcrasDonate</div> 
				</div>
			</td>
		</tr>
		</tbody>
		</table>

		{# google analytics #}
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-2115025-7");
		pageTracker._trackPageview();
		} catch(err) {}</script>
		
	</body>

</html>
