<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% comment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endcomment %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<title>{% block window_title %}{% endblock %}</title>
		
		<link rel="shortcut icon" href="{{ MEDIA_URL }}img/pd_icon.jpg" type="image/x-icon" >

		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/procrasdonate.css">
	
		<link type="text/css" href="http://jqueryui.com/latest/themes/base/ui.all.css" rel="stylesheet" />
		
		<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
		<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.core.js"></script>
	 	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.slider.js"></script>
		
		<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/procrasdonate.js"></script>
		{% block head %}{% endblock %}

	</head>

	<body>
		<div id="wrapper">
			
			<div id="logo">
				<img alt="" src="{{ MEDIA_URL }}img/ProcrasDonateLogoText.png">
			</div>

			<div id="static_menu">
				<div {% ifequal selected "home" %}class="here_we_are"{% endifequal %}><a href="{% url home %}">Home</a></div>
				<div {% ifequal selected "start_now" %}class="here_we_are"{% endifequal %}><a href="{% url start_now %}">Start Now</a></div>
				<div {% ifequal selected "my_impact" %}class="here_we_are"{% endifequal %}><a href="{% url my_impact %}">My Impact</a></div>
				<div {% ifequal selected "community" %}class="here_we_are"{% endifequal %}><a href="{% url community %}">Community</a></div>
				<div {% ifequal selected "feedback" %}class="here_we_are"{% endifequal %}><a href="">Feedback</a></div>
			</div> 
		
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
			
		</div>
		
		<div id="footer"></div>
	</body>

</html>
