{% extends 'procrasdonate/base.html' %}

{% block content %}
	

	
	<div id="thin_column">
		<div id="StartButtonDiv" class="">	
			<a href="{{ MEDIA_URL }}xpi/ProcrasDonate_0.1.1.xpi">
				<img src="{{ MEDIA_URL }}img/StartNow14.png" id="StartButton" class="StartButton">
			</a>
			<img src="{{ MEDIA_URL }}img/ProcrasDonateLineCartoon.png" class="Banner">						
		</div>	
		<h2></h2>

		<span class="horizontal">
			<a href="#follow">Progress</a>
		</span>
		<span class="horizontal"> 			
			<a href="#how">How</a>
		</span>
		<span class="horizontal"> 
			<a href="#pay">Payments</a>
		</span>
		<span class="horizontal"> 		
			<a href="#privacy">Privacy</a>
		</span>
		<span class="horizontal"> 	
			<a href="#who">Team</a>
		</span>
		<span class="horizontal"> 	
			<a href="#tos">Terms</a>
		</span>
		<span class="horizontal"> 	
			<a href="#stop">Unsubscribe</a>
		</span>


		<h2><a name="follow"></a>Progress, Goals, and Budget</h2>
		<img src="{{ MEDIA_URL }}img/StackPennies.png" class="small-image">		
		<p>What is your time <b>worth?</b> What is <b>information</b> and <b>entertainment</b> worth?</p>
		<p>How many pennies will you <b>pledge</b> per hour of ProcrasDonation?  
			Weekly scheduling <b>goals</b> help keep track of your <b>progress</b> and spending limits let you set a <b>budget</b>.  
		</p>

		<h2><a name="how"></a>How It Works</h2>
		<img src="{{ MEDIA_URL }}img/ScratchHead.png" class="small-image">		
		<p>Add our <b>free</b> software to your web browser and set your preferences.
		</p>
		<p>Pledges will <b>automatically</b> be made on your behalf based on your preferences.
		</p>

		<h2><a name="how"></a>Turning Pledges into Donations</h2>
		<img src="{{ MEDIA_URL }}img/DollarRocket.png" class="small-image">		
		<p>Pledges are linked to your Twitter username.  
			Use <a href="http://tipjoy.com/">Tipjoy</a> to <b>approve</b> your pledges.
			We will send you occasional emails to remind you of any unpaid balance.
		</p>
		
		<h2><a name="privacy"></a>Your Privacy is our Priority</h2>
		<img src="{{ MEDIA_URL }}img/FireWall.png" class="small-image">		
		<p>The summary information that your browser shares with our community is <b>anonymous</b>.
			If you would like to be able to use the same account with multiple computers or web browsers then select <b>secure account</b> in your preferences (Coming soon!).
		</p>
		<p>	If you would rather keep all records on your own computer then select <b>closed account</b> so that no one, including us, can track your browsing history.
			We could not even access your records in response to a court order.
		</p>	
		<p>	<b>Select</b> "Announce my Donations on Twitter" to enable automatic tweets of   
			your donations and/or recipients.
		</p>
					
		<h2><a name="who"></a>Why We Made ProcrasDonate</h2>
		<img src="{{ MEDIA_URL }}img/FourHeads.png" class="small-image">		
		<p>We are the same people that brought you <a href="http://bilumi.org">Buy It Like You Mean It</a>.
			That is why bilumi is <b>prelisted</b> when you choose your favorite charities.
		</p><p>We started ProcrasDonate because traditional grant funding is unprepared to support <b>innovative</b> projects like bilumi and quality online <b>journalism</b>.
			ProcrasDonate is a flexible, <b>user-centered</b> funding source for charities and content providers.
		</p>
	
		<h2><a name="tos"></a>Terms of Use</h2>
		<img src="{{ MEDIA_URL }}img/TermsOfUse.png" class="small-image">		
		<p>By using our service you agree to the following:
			<ul class="paragraph_list">
			<li>ProcrasDonate may update these terms of service without warning or notification.
			<li>You understand how our service works and are willingly participating.
			<li>You agree to pay all pledges made on your behalf in full.
			<li>A percentage that you determine of your donations is donated to our service.
			<li>You are responsible for any content you add to this site.
			<li>Illegal, unfriendly, or otherwise problematic content will be removed.
			<li>Your individual records and settings are private and not accessible by our company.
			<li>Your summary records are used for community statistics and other as yet undetermined uses (hopefully that will support the service financially).
			<li>All rights are reserved including ProcrasDonate intellectual property of software and our business model.
			</li><li><b>Thanks for ProcrasDonating!</b>
			</ul>
		</p>	
	
		<h2><a name="stop"></a>Unsubscribe</h2>
		<img src="{{ MEDIA_URL }}img/StopSign.png" class="small-image">		
		<p>To disable or uninstall this plugin use the FireFox menu "Tools -> Adds-on". Doing so may permanently delete your browsing and donating history. 
		</p>	
	
	</div>
{% endblock %}
