{% extends 'procrasdonate/base.html' %}

{% block head %}
	{{ block.super }}
	<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/flot/jquery.flot.js"></script>
	<!--[if IE]>
		<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/flot/excanvas.min.js"></script>
	<![endif]--> 
{% endblock %}

{% block content %}
	<div id="thin_column">
		<h3>{{ recipient.name }}</h3>
		<ul>
			<li>mission: {{ recipient.mission }}</li>
			<li>description: {{ recipient.description }}</li>
			<li>category: {{ recipient.category.category }}</li>
			<li>twitter_name: {{ recipient.twitter_name }}</li>
			<li>email: {{ recipient.email }}</li>
			<li>url: {{ recipient.url }}</li>
		</ul>
		
		{% if user.is_authenticated %}
			{% ifequal user.get_profile.recipient.slug recipient.slug %}
				<a href="{% url edit_information %}">EDIT</a>
			{% endifequal %}
		{% endif %}
	</div>
{% endblock %}
