<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% comment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endcomment %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<title>Procrastinate Less. {% block window_title %}Procrastination incentives through giving.{% endblock %}</title>
		
		<link rel="shortcut icon" href="{{ MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" type="image/x-icon" >

		{# <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.all.css"> #}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/procrasdonate.css">
	
		<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-1.2.6.min.js"></script>
		{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/ui.core.js"></script> #}
	 	{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/ui.slider.js"></script> #}
		
		{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/json2.js"></script> #}
		<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/procrasdonate.js"></script>
		{% block head %}{% endblock %}

	</head>

	<body>
		<div id="download_allow_helper">
			<img class="floating_over_up_arrow" src="/procrasdonate_media/img/OverAndUpArrow.png"/>

			<table>
			<tr><td>To install <b>ProcrasDonate</b>:</td></tr>
			<tr><td><p>1. Click ''<b>Allow</b>'' in upper right corner.</p></td>
				<td><p>2. Click ''<b>Install Now</b>''.</p></td></tr>
			</table>			
		</div>
		<div id="top_bar">
			<div class="center_column">
				<a href="{% url splash %}">
					<img id="laptop_logo" alt="ProcrasDonate Icon" src="{{ MEDIA_URL }}img/LaptopIconElated.png" />
				</a>
				<img id="pd_line_cartoon" alt="ProcrasDonate Cartoon Banner" src="{{ MEDIA_URL }}img/PDLineCartoonHeader.png" />
				<img
					id="download_top_button"
					alt="Download ProcrasDonate"
					class="link"
					src="{{ MEDIA_URL }}img/DownloadTopButton.png"
					onclick="return install('install_anchor');" />
			</div>
		</div>
		
		<div class="center_column">
			<div id="top_OrganizerMenu">
				<div {% ifequal selected "dashboard" %}class="here_we_are"{% endifequal %}>
				{% if request.user.is_authenticated %}
					<a href="{% url recipient_organizer_dashboard %}">Dashboard</a>
				</div>
				<div>
					<a href="{% url logout %}">Logout</a>
				{% else %}
					<a href="{% url login %}">Organizers</a>
				{% endif %}
				</div>
			</div>
		</div>
		
		<div id="user_messages_wrapper">
		{% if messages %}
			<table id="user_messages">
			<tbody><tr><td>
				<ul>
		    	{% for message in messages %}
			    	<li class="message">{{ message }}</li>
				{% endfor %}
				</ul>
			</td></tr></tbody>
			</table>
		{% endif %}
		</div>
		
		
		{% block supermiddle %}
		{% endblock %}

		<div id="bottom_bar">
			{% if request.user.is_superuser %}
				<div id="AdminMenu">
					<a href="{% url superuser_dashboard %}">Admin</a>
				</div>
			{% endif %}
		</div>

		{# google analytics #}
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-2115025-7");
		pageTracker._trackPageview();
		} catch(err) {}</script>
		
	</body>

</html>
