{% extends 'procrasdonate/base.html' %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block content %}
	<h2>(Name of Non-profit)'s Dashboard</h2>
	
	<h3>Metrics</h3>
	<p>total donations received in {% now "Y" %}: ${{ recipient.yearly_aggregate.total_amount|floatformat:"2"|default:"0" }}</p>
	<p>total donations received all time: ${{ recipient.forever_aggregate.total_amount|floatformat:"2"|default:"0" }}</p>
	<p>number of donors: {{ recipient.forever_aggregate.total_donors|floatformat:"2"|default:"0" }}</p>
	
	<h3>Actions</h3>
	<ul>
		<li><a href="{% url registration_help %}">receive</a> donations.</li>
		<li><a href="{% url edit_promo_cards %}">create</a> promotional cards.</li>
		<li><a href="mailto:clay@bilumi.org">contact</a> ProcrasDonate staff via email.</li>
		<li><a href="{% url edit_public_information %}">update</a> public facing profile.</li>
		<li><a href="{% url edit_private_information %}">update</a> organizational information.</li>
		<li><a href="{% url edit_media %}">update</a> images and video.</li>
	{% comment %}	<li><a href="{% url edit_weekly_blurbs %}">edit weekly blurbs</a></li> {% endcomment %}
		<li><a href="{% url edit_thank_yous %}">edit</a> thank you notes.</li>
		<li><a href="{% url edit_yearly_newsletter %}">edit</a> year-end newsletter.</li>
	</ul>
	
	<div id="thin_column">
		<h3>Yearly promotional checklist</h3>
		<form method="post">
			<table><tbody>
				{% for field in checkbox_fields %}
				<tr>
					<td><input type="checkbox" name="{{ field.name }}" {% if field.checked %}checked {% endif %} /></td>
					<td>{{ field.label }}</td>
					<td class="error">{{ field.error }}</td>
					<td class="help">{{ field.help }}</td>
				</tr>
				{% endfor %}
			</tbody></table>
			<input type="submit" value="save" />
		</form>
	</div>
	
{% endblock %}
