{% extends 'procrasdonate/base.html' %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block content %}
	<h2>{{ recipient.name }}'s Dashboard</h2>
	
	<h3>Metrics</h3>
	<p>total donations received in {% now "Y" %}: ${{ recipient.yearly_aggregate.total_amount|floatformat:"2"|default:"0" }}</p>
	<p>total donations received all time: ${{ recipient.forever_aggregate.total_amount|floatformat:"2"|default:"0" }}</p>
	<p>number of donors: {{ recipient.forever_aggregate.total_donors|floatformat:"2"|default:"0" }}</p>
	
	<h3>Actions
	{% if not recipient.pd_registered %}
		<span class="superheader">
			Urgent: not authorized to receive donations
		</span>
	{% endif %}
	</h3>
	<table id="dashboard_actions">
	<thead>
		<tr>
			<th>Handle Donations</th>
			<th>Update Information</th>
			<th>Promote</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="{% url payment_registration %}">Authorize to receive donations</a>
				{% if not recipient.pd_registered %}
					<span class="incomplete_action">incomplete</span>
				{% endif %}
			</td>
			<td><a href="{% url edit_public_information %}">Public facing profile</a>
				{% if recipient.public_information_incomplete %}
					<span class="incomplete_action">incomplete</span>
				{% endif %}
			</td>
			<td><a href="{% url edit_promo_cards %}">Send promotional cards</a></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="{% url edit_private_information %}">Organizational information</a>
				{% if recipient.private_information_incomplete %}
					<span class="incomplete_action">incomplete</span>
				{% endif %}
			</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="{% url edit_media %}">Images and video</a>
				{% if recipient.media_incomplete %}
					<span class="incomplete_action">incomplete</span>
				{% endif %}</td>
			<td></td>
		</tr>
	</tbody>
	</table>
	
	<p id="contact_procrasdonate">Contact ProcrasDonate staff via email: <a class="insert_procrasdonate_email" href=""></a></p>
	
	<div id="thin_column">
		<h3>Yearly promotional checklist</h3>
		<form method="post">
			<table id="promotional_checklist"><tbody>
				{% for field in checkbox_fields %}
				<tr>
					<td><input type="checkbox" name="{{ field.name }}" {% if field.checked %}checked {% endif %} /></td>
					<td>{{ field.label }}</td>
					<td class="error">{{ field.error }}</td>
					<td class="help">{{ field.help }}</td>
				</tr>
				{% endfor %}
			</tbody></table>
			<input id="promotional_checklist_save" type="submit" value="save" />
		</form>
	</div>
	
{% endblock %}
