{% extends 'procrasdonate/base.html' %}

{% block content %}
	{% include 'register_submenu.html' %}
	
	<h2>Public Profile</h2>
	
	<h3>The profile page is where new donors learn about your organization.</h3>
		
	<p>We consider <b>you</b> our valued customer.  
	<br>Please <a href="" class="insert_procrasdonate_email">email</a> us if you have any problems or concerns providing the following information.</p>
	
	<form class="organizer_form" method="post">
		<table><tbody>
			{{ form }}
		</tbody></table>
		<input type="submit" value="save" />
	</form>
	
	<a href="{% url recipient_register %}">Authorize to receive donations</a>
{% endblock %}
