{% extends 'procrasdonate/base.html' %}

{% block content %}
	{% include 'register_submenu.html' %}

	<h2>Promo Cards</h2>
	
	<p>Reminding your existing community that they can use ProcrasDonate to donate to {{ recipient.name }} is by far the best way to increase total donations.
		<br>We want to help!  
	</p><p>	Please <a href="" class="insert_procrasdonate_email">email</a> us to request custom postcards based on these designs... or if we can help out in any way.</p>

	<div id="postcard_big_div">
		<img id="postcard_big" src="{{ MEDIA_URL }}img/coins_card.png" />
	</div>
	
	<ul id="postcard_thumbnails">
		<li><img class="postcard_thumbnail selected" src="{{ MEDIA_URL }}img/coins_card.png" /></li>
		<li><img class="postcard_thumbnail" src="{{ MEDIA_URL }}img/star_card.png" /></li>
		<li><img class="postcard_thumbnail" src="{{ MEDIA_URL }}img/parking_meter.png" /></li>
		<li><img class="postcard_thumbnail" src="{{ MEDIA_URL }}img/noodle_girl.png" /></li>
	</ul>
	
	<script type="text/javascript">
		$(document).ready( function() {
			$(".postcard_thumbnail").click(function() {
				$(".postcard_thumbnail").removeClass("selected");
				$(this).addClass("selected");
				$("#postcard_big").attr("src", $(this).attr("src"));
			});
		});
	</script>
{% endblock %}
