{% extends 'procrasdonate/base.html' %}

{% block content %}
	{% include 'register_submenu.html' %}

	<h2>Organizational Record</h2>
		
	<p>Information on this page will remain <b>private</b></p>
	
	<p>We consider <b>you</b> our valued customer.  
	<br>Please email us if you have any problems or concerns providing the following information.</p>
		
	<p>We consider blah blah</p>
	
	<h3>{{ recipient.name }}</h3>

	<form method="post">
		<table><tbody>
			{{ form }}
		</tbody></table>
		<input type="submit" value="save" />
	</form>
	
	<a href="{% url recipient_register %}">Authorize to receive donations</a>
{% endblock %}
