{% extends 'procrasdonate/base.html' %}


{% block content %}
	{% include 'register_submenu.html' %}
	
	<h2>Payment Registration</h2>
	
	<ul class="errors">
		{% for error in errors %}
			<li class="error">{{ error }}</li>
		{% endfor %}
	</ul>
	
	{% if r.good_to_go %}
		<p class="succes">Success</p>
		<p>You are successfully authorized to receive donations 
			through Amazon Flexible Payments Service.</p>
	{% else %}
		<p>In order to collect donations, you must authorize an 
			account through Amazon Flexible Payments Service</p>
	
		<p>By clicking the button below, you will be directed to Amazon's Flexible Payments
			Service website. After completing the authorization there, you will be automatically
			redirected back here to the ProcrasDonate website.</p>
		
		<form action="{{ action_url }}" method="post">
			<input type="submit" value="Authorize!" />
			{% for name,value in parameters.items %}
				<input
					type="hidden"
					name="{{ name }}"
					value="{{ value }}"
				/>
			{% endfor %}
		</form>
	{% endif %}
	
	<h3>Help</h3>
	
	<p>The screen shots below walk you through the authorization process on Amazon's website.</p>
	
	<ul id="screenshot_steps">
		<li id="step1" class="selected">Step 1</li>
		<li id="step2">Step 2</li>
		<li id="step3">Step 3</li>
		<li id="step4">Step 4</li>
	</ul>
	<ul id="postcard_thumbnails" class="screenshot_thumbnails">
		<li><img class="postcard_thumbnail selected" src="{{ MEDIA_URL }}img/AmazonBizSS1.png" /></li>
		<li><img class="postcard_thumbnail" src="{{ MEDIA_URL }}img/AmazonBizSS2.png" /></li>
		<li><img class="postcard_thumbnail" src="{{ MEDIA_URL }}img/AmazonBizSS3.png" /></li>
		<li><img class="postcard_thumbnail" src="{{ MEDIA_URL }}img/AmazonBizSS4.png" /></li>
	</ul>
	
	<div id="screenshot_big_div">
		<img id="screenshot_big" src="{{ MEDIA_URL }}img/AmazonBizSS1.png" />
	</div>
	
	<script type="text/javascript">
		$(document).ready( function() {
			$(".postcard_thumbnail").click(function() {
				$(".selected").removeClass("selected");
				$(this).addClass("selected");
				var src = $(this).attr("src");
				$("#step"+src[src.length-5]).addClass("selected");
				$("#screenshot_big").attr("src", src);
			});
			$("#screenshot_steps li").click(function() {
				$(".selected").removeClass("selected");
				$(this).addClass("selected");
				var n = $(this).attr("id");
				$(".postcard_thumbnail").each(function() {
					if ($(this).attr("src") == "{{ MEDIA_URL }}img/AmazonBizSS"+n[4]+".png") {
						$("#screenshot_big").attr("src", $(this).attr("src"));
						$(this).addClass("selected");
					}
				});
			});
		});
	</script>
	
{% endblock %}
