{% extends 'adwords/superbase.html' %}

{% block content %}
	<div id="click_to_page">
		<h2>
			{% ifequal group "FundraisingToolsCartoon" %}
				Thanks for your interest in community fundraising tools.
			{% endifequal %}
			{% ifequal group "FundraisingToolsList" %}
				Thanks for your interest in community fundraising tools.						
			{% endifequal %}
			{% ifequal group "GiftCardPersonal" %}
				Thanks for your interest in time management giftcards.				
			{% endifequal %}
			{% ifequal group "GiftCardTrial" %}
				Thanks for your interest in time management giftcards.
			{% endifequal %}
			{% ifequal group "GivingCircle" %}
				Thanks for your interest in giving circles!
			{% endifequal %}
			{% ifequal group "MatchingGift" %}
				Thanks for your interest in matching gifts!
			{% endifequal %}
			{% ifequal group "StudentIncentives" %}
				Thanks for your interest in study bonus incentives.
			{% endifequal %}
			{% ifequal group "pandora" %}
				Thanks for your interest!
			{% endifequal %}
		</h2>
		
		<p>Unfortunately we're still developing this service.  But you'll be the first to find out when it's ready.</p>
	
		<div id="email_waiting_list">
			{% include 'adwords/snippets/email_form.html' %}
		</div>
		
		<p>If you have any suggestions or ideas then email us at {{ settings.EMAIL }}</p>
		
		<p>Thanks!</p>
	</div>
{% endblock %}
