{% extends 'procrasdonate/base.html' %}

{% block content %}
	<h2>Oops</h2>
	<p>the ProcrasDonate Firefox add-on is supposed to insert content here 
		from the data stored on your computer :-(</p>
	
	<p>If you'd like to tell us about the problem, please use the 
		<a href="http://feedback.procrasdonate.com">Feedback page</a>
		or send us an email at <a href="" class="insert_procrasdonate_email"></a></p>

	<p>We appreciate your feedback and will do our best to fix the
		problem and release an update shortly.</p>	
{% endblock %}
