{% extends 'procrasdonate/base.html' %}

{% block content %}
	<h2>About Us</h2>
	
	<img src="{{ MEDIA_URL }}img/FourHeads.png" class="screenshot-long">		
		</p><p>We started ProcrasDonate because traditional grant funding is unprepared to support <b>innovative</b> non-profits and quality online <b>journalism</b>.
			Our experience with individual donors is that they're ready to support innovation on their own terms.  That's why ProcrasDonate is a flexible, <b>user-centered</b> funding source for charities and content providers.
		</p>
			
	<h3>Clay Ward</h3>
	<p>Artist/Entrepreneur - <a href="http://www.thoughtandmemory.org/clay/portfolio/">portfolio</a>  </p>
	<p><a href="http://procrastinateless.wordpress.com/">Mindful Moments: Stories and Lessons of Procrastination</a></p>
	<p>This blog is a <b>resource</b> for people interested in life hacking, time management tips, and the psychology of procrastination.  
		Occasionally we'll question some of the deeper meanings of human <b>effort</b> through philosophy, science, belief, and art. </p>
	
	<h3>Lucy Mendel</h3>
	<p>Programmer</p>
	<p>blog: <a href="http://proudlyprocrasdonating.wordpress.com">Proudly ProcrasDonating</a></p>
	<p>This blog is about the experience of working on the <b>technology</b> behind ProcrasDonate.  
		It's a <b>celebration</b> of making, building and creating.</p>

	<h3>Daniel Ring</h3>
	<p>Web Developer</p>
	<p>Dan is the man <b>behind</b> the curtain.</p>	

	<h3>Little Bear</h3>
	<p>Social Networker</p>
	<p>Bear is the <b>biggest</b> little dog.  Past projects include greeting people at the door and stealing <b>socks</b>.</p>

{% endblock %}