{% extends 'procrasdonate/base.html' %}

{% block content %}
	
	<div>
	
		<span class="horizontal">
			<a href="#benefits">How can ProcrasDonate help me?</a>
		</span>
		<span class="horizontal"> 			
			<a href="#how">What do I do?</a>
		</span>
		<span class="horizontal"> 			
			<a href="#donations">How do donations work?</a>
		</span>	
		<span class="horizontal"> 			
			<a href="#privacy">Is my browsing confidential?</a>
		</span>	
		<span class="horizontal"> 			
			<a href="#time">Is it always recording?</a>
		</span>	
		<span class="horizontal"> 			
			<a href="#how">Will I get lots of junk mail?</a>
		</span>	
		<span class="horizontal"> 	
			<a href="#why">Why was ProcrasDonate created?</a>
		</span>
		<span class="horizontal"> 	
			<a href="#habits">How can I procrastinate less?</a>
		</span>
		<span class="horizontal"> 	
			<a href="#learn">How can I find out more?</a>
		</span>
		<span class="horizontal"> 	
			<a href="#T-shirts">Can I make a suggestion?</a>
		</span>
		<span class="horizontal"> 		
			<a href="#changes">How do I get updates?</a>
		</span>
		<span class="horizontal"> 		
			<a href="#stop">How do I stop using it?</a>
		</span>
		
	</div>
	<div id="HOME">
	 
		<h2><a name="benefits"></a>How can ProcrasDonate help me?</h2>
		<img src="{{ MEDIA_URL }}img/StackPennies.png" class="small-image">		
		<p>Want to waste less time noodling around on the internet?
			ProcrasDonate's <b>feel-good</b> incentive and <b>custom</b> feedback can help.
		But that's not all.  
		</p>
		<p>
		ProcrasDonate is also a <b>fun</b> way to organize your charitable donations and build lasting relationships with your favorite non-profits.
		</p>
		<p>Want to support <b>quality</b> online content?  
		You can also set up a TimeWellSpent donation to pay the websites you care about for the time you spend using them.
		</p>
		
		<h2><a name="how"></a>What do I do?</h2>
		<img src="{{ MEDIA_URL }}img/ScratchHead.png" class="small-image">		
		<p>First add our <b>free</b> software to your web browser.  
		</p>
		<p>
		Then go through the registration process: you'll use your <b>existing</b> Amazon.com account to set up whatever charitable incentive is right for you.
		</p>
		<p><b>Sorting</b> your websites into ProcrasDonation or TimeWellSpent is as easy as clicking on the question mark that will appear at the top of your web browser.
		</p>
		<p>The ProcrasDonation <b>meter</b> next to the sorting icon is based on <b>your</b> weekly goals and limits.  
		When the meter bars start turning <b>red</b> then you've procrastinated more than you want to for this week.
		</p>

		<h2><a name="donations"></a>How do donations work?</h2>
		<img src="{{ MEDIA_URL }}img/DollarRocket.png" class="small-image">		
		<p>
		Every hour you spend on websites you've marked as ProcrasDonation is a pledge to your selected <b>charities</b>.  
		You can change your pledge amounts on your <b>'my settings'</b> page.
		</p>
		<p>Every hour you spend on websites you've marked as TimeWellSpent is a pledge to the website's content <b>provider</b>.
		</p>
		<p>Whenever one of your pledges reaches a threshold of $10 then a donation is made <b>directly and in full</b> from your Amazon account to the intended recipient.
		Your <b>voluntary</b> transaction fees and <b>voluntary</b> monthly payments are treated as pledges and paid to ProcrasDonate.com at the $10 threshold.
		</p>
		<p>Your <b>'my impact'</b> page on our website, which can only be seen on your own computer, keeps track of your donations to date.
		<p><b>If</b> you like, then our system will send you weekly emails on your time management <b>progress</b> and updates on our service.
		</p>
			
		<h2><a name="privacy"></a>Is my browsing confidential?</h2>
		<img src="{{ MEDIA_URL }}img/FireWall.png" class="small-image">		
		<p><b>Yes!</b> Privacy is important to us. 
		Your can track your complete browsing data on your own computer.  
		But we only store <b>anonymous</b> statistical data in order to measure our community impact.		
		</p> 
		
		<h2><a name="time"></a>Is it always recording?</h2>
		<img src="{{ MEDIA_URL }}img/FireWall.png" class="small-image">		
		<p><b>No!</b> 
		ProcrasDonate only keeps track of the webpages that it thinks you are actually using.
		It stops recording your time when you switch to another application or browser tab.
		Most pages will also stop being recorded if you don't click a mouse or use the keyboard for 3 minutes.
		If there is flash on a page then the allowable idle time gets extended to 20 minutes (in case you're watching tv.)
		Finally, it won't record more than 10 hours of straight use even if you are spending all that time playing video games.
		</p> 
		
		<h2><a name="email"></a>Will I get lots of junk mail?</h2>
		<img src="{{ MEDIA_URL }}img/ScratchHead.png" class="small-image">			
		<p>We <b>do not</b> give out your email address.  
		<b>Not even</b> to the organizations you are donating to.
		We will send you occasional thank you notes and year end updates from the charities you support unless you choose not to receive them.
		</p>
							
		<h2><a name="why"></a>Why was ProcrasDonate created?</h2>
		<img src="{{ MEDIA_URL }}img/FourHeads.png" class="small-image">		
		</p><p>We started ProcrasDonate because traditional grant funding is unprepared to support <b>innovative</b> non-profits and quality online <b>journalism</b>.
			Our experience with individual donors is that they're ready to support innovation on their own terms.  That's why ProcrasDonate is a flexible, <b>user-centered</b> funding source for charities and content providers.
		</p>
		<p><a href="http://bilumi.org">Buy It Like You Mean It</a> is a non-profit that supported us in our early development as an organization.
			That is why bilumi is <b>prelisted</b> as a sponsor when you pick your charitable recipients.</p>
				
		<h2><a name="habits"></a>How can I procrastinate less?</h2>
		<img src="{{ MEDIA_URL }}img/ToolBelt.png" class="small-image">		
		</p><p>Three techniques have been shown to help people avoid procrastination: 
		<b>Goal Setting</b> (breaking down projects into achievable steps), <b>Stimulus Control</b> (separating work environment from distractions), and <b>Routines</b> (establishing a comfortable schedule.)  
		ProcrasDonate allows you to set your own <i>Goals</i>, track your online distractions (<i>Stimulus Control</i>), and create boundaries on your online <i>Routine</i>.
		</p>
		<p>However, ProcrasDonate is not a medical treatment.  
		<b>Consult</b> your therapist or doctor before incorporating it into a clinical routine.
		</p>

		<h2><a name="learn"></a>Can I find out more?</h2>
		<img src="{{ MEDIA_URL }}img/ToolBelt.png" class="small-image">		
		</p><p>We try to share as much information as we can find about procrastination on our <b>blog</b>.
				Check it out: http://procrasdonate.wordpress.com/
		</p>
		
		<h2><a name="T-shirts"></a>Can I make a suggestion? 
		</h2>
		<img src="{{ MEDIA_URL }}img/ProcrasDonateShirt.png" class="small-image">		
		<img src="{{ MEDIA_URL }}img/ProcrasDonateShirtDetail.png" class="screenshot-long">		
		<p>Please! We want to adapt our system to meet your needs.  
		So use our <b><a href="http://feedback.procrasdonate.com">feedback</a></b> link on the left hand of every page to tell us what you think.
		We'll send you a <i>hand screened organic cotton work of art</i> as a thank you!  
		</p>
	
		<h2><a name="changes"></a>How do I get updates?</h2>
		<p>You'll automatically receive add-on <b>updates</b> as we add new features.
		</p>
		
		<h2><a name="stop"></a>How do I stop using it?</h2>
		<img src="{{ MEDIA_URL }}img/StopSign.png" class="small-image">		
		<p>To disable or uninstall this plugin use the FireFox menu "Tools -> Adds-on". Doing so may permanently delete your browsing and donating history. 
		</p>	
	
	</div>
{% endblock %}