{% extends 'procrasdonate/base.html' %}

{% block content %}
	{% include 'procrasdonate/straight_pages/snippets/banner.html' %}
		
	<h2><a name="why"></a>Feel Good About Your Time Online &nbsp;
		<span class="superheader">
			{% include 'procrasdonate/straight_pages/snippets/start_now.html' %}
		</span>
	</h2>
	<img src="{{ MEDIA_URL }}img/Calendar.png" class="small-image">		
	<img src="{{ MEDIA_URL }}img/ScreenshotUnsorted.png" class="screenshot-long">		
	<p>
	<p><b>Sort</b> your favorite websites into 
		<img src="{{ MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" class="text-image">		
		<i>ProcrasDonation</i> or
		<img src="{{ MEDIA_URL }}img/ToolbarImages/TimeWellSpentIcon.png" class="text-image">		
		<i>TimeWellSpent</i>.
	</p>
	<p> 
	It's as <b>easy</b> as clicking on the question mark icon that will appear at the top of your web browser
	</p>

	<h2><a name="goals"></a>Your Weekly Progress Meter</h2>
	<img src="{{ MEDIA_URL }}img/HourGlass.png" class="small-image">	
			<img src="{{ MEDIA_URL }}img/ScreenshotProgressBar.png" class="screenshot-long">		
	<p>Set your <b>goals</b> and watch your procrastination
		<img src="{{ MEDIA_URL }}img/ToolbarImages/IconBar40.png" class="text-image">		
		<i>meter</i> fill up throughout the week.  
	</p>
	<p>	When you see <b>red</b> bars you've wasted more time than you wanted to this week.
	</p>
	<h2><a name="what"></a>ProcrasDonate: <span class="subheader">Your charitable incentive</span></h2>
	<img src="{{ MEDIA_URL }}img/ProcrasDonateLogoNoText.png" class="small-image">		
	<img src="{{ MEDIA_URL }}img/ScreenshotPD.png" class="screenshot-long">		
	
	<p>
	Feedback paired with a good <b>incentive</b> really works.  
	</p>
	<p>
	Automatically donate <b>real</b> money to your favorite charity for every hour you spend noodling around on websites you've marked 
		as <i>ProcrasDonation</i>.
	</p>
	<p>	
	ProcrasDonate helps you use your <b>existing</b> Amazon account to create whatever charitable incentive is right for you.  
	</p>
	
	<h2><a name="quality"></a>Time Well Spent: <span class="subheader">Support Quality Content</span></h2>
	<img src="{{ MEDIA_URL }}img/ThumbsUp.png" class="small-image">		
	<img src="{{ MEDIA_URL }}img/ScreenshotTWS.png" class="screenshot-long">		
	<p>You can also donate directly to websites you've marked as <i>TimeWellSpent</i> whenever you are using them.
	</p>
	<p>	Together we can support websites that are keeping quality internet content freely available.
	</p>	
	

{% endblock %}
