{% extends 'procrasdonate/base.html' %}

{% block content %}
	<h2>Incompatible Browser</h2>
	
	<p>ProcrasDonate is an add-on specifically for <b>Firefox 3.5</b>.</p>
	
	<p id="install_statement">ProcrasDonate will not work with your current browser,
		<span id="current_browser"></span></p>
	
	<ol>
		<li><a id="download_firefox"
			href="">Please download Firefox 3.5</a></li>
		<li>Then come back to <a href="http://ProcrasDonate.com">ProcrasDonate.com</a>
				and click Start Now</li>
	</ol>
	
{% endblock %}
