{% extends 'procrasdonate/after_install/after_install.html' %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block content %}
	<div id="thin_column">
				
		<h1>
		Congratulations!
		</h1>			
		
		<h2> <img src="{{ MEDIA_URL }}img/Laptop.png" class="right-image">
		You have installed ProcrasDonate...
			<span class="subheader">
				<br>(You might have to Reload Firefox.) 		
			</span>	
		</h2>
		
		<h2>Click the 
			<img src="{{ MEDIA_URL }}img/ToolbarImages/UnsortedIcon.png" class="icon-image">		
		icon 
		</h2>
		<p>that appears <b>next</b> to your browser's website address bar.  
		<br>Click <b>once</b> to classify whatever website you're on as ProcrasDonation		
		(<img src="{{ MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" class="icon-image">), 
		<b>twice</b> for TimeWellSpent		
		(<img src="{{ MEDIA_URL }}img/ToolbarImages/TimeWellSpentIcon.png" class="icon-image">).
		</p>
		
		<h2><img src="{{ MEDIA_URL }}img/StepCircle6Done.png" class="right-image">
			Go to My Settings to select charities,</h2>
		<p>set up payments, and customize <b>your</b> account in six quick steps.  
		<br>The link is in the left hand toolbar.    
		</p>
		
		<h2>Click the <img src="{{ MEDIA_URL }}img/ToolbarImages/IconBar20.png" class="icon-image"> meter</h2>
			<p>to go to your My Impact page.  
			Or just glance at your <img src="{{ MEDIA_URL }}img/ToolbarImages/IconBar50.png" class="icon-image"> meter</h2> to check on your progress.
			<br>Your <img src="{{ MEDIA_URL }}img/ToolbarImages/IconBar90.png" class="icon-image"> meter</h2>
			will remain on default settings <b>until</b> you go to My Settings to set <i>your own goals</i>.

		</p>
		
	</div>
{% endblock %}
