
	<h3>
		1. Categorize websites
		<img src="{{ MEDIA_URL }}img/ToolbarImages/UnsortedIcon.png" class="icon-image" />
		<img src="{{ MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" class="icon-image" />
		<img src="{{ MEDIA_URL }}img/ToolbarImages/TimeWellSpentIcon.png" class="icon-image" />
	</h3>
	
	<p>Click the 
		<img src="{{ MEDIA_URL }}img/ToolbarImages/UnsortedIcon.png" class="icon-image" />
		icon that appears in Firefox's toolbar <b>next</b> to your browser's website address bar.</p>
	  
	<p>Click <b>once</b> to classify the currently viewed website as ProcrasDonation		
		<img src="{{ MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" class="icon-image" />, 
		<b>twice</b> for TimeWellSpent		
		<img src="{{ MEDIA_URL }}img/ToolbarImages/TimeWellSpentIcon.png" class="icon-image" />.
		</p>
	
	<h3>
		2. Monitor your weekly web usage 
		<img src="{{ MEDIA_URL }}img/ToolbarImages/IconBar40.png" class="icon-image" />
	</h3>
	
	<p>Click the 
		<img src="{{ MEDIA_URL }}img/ToolbarImages/IconBar20.png" class="icon-image" />
		meter to view your <a href="{% url my_progress %}">Progress</a> in more <b>detail</b>.</p>
	
	<p>Your <img src="{{ MEDIA_URL }}img/ToolbarImages/IconBar90.png" class="icon-image" />
		meter reflects the goals that you've set for yourself and will reset every week.</p>

	<h3>
		3. 	Set up TimeWellSpent <a href="{% url time_well_spent_settings %}">payments</a>.
	</h3>
	
	<p>TimeWellSpent is our first advanced website classification feature.  
	Use it as a place-holder or <a href="{% url time_well_spent_settings %}"><b>opt in</b></a> to pay <b>by the hour</b> for websites that provide what you consider quality content.</p>
	
	<h3>
		4. Look for weekly messages
		<img style="width:8em" src="{{ MEDIA_URL }}img/laptophappy.png" class="right-image" />
	</h3>
	
	<p>Each week you will receive messages at the top of your web browser.  
	Messages will <b>only</b> appear while you're ProcrasDonating.
	Messages like: <ul><li>Affirming updates on your procrastination <b>progress</b>.</li>
		<li><b>Thankyou notes</b> from your charities.</li>
		<li>Occasional <b>newsletters</b> from your charities.</li>
		<li><b>Updates</b> on new ProcrasDonate features.</li>
		</ul></p>
	
	<h3>
		5. <a href="http://feedback.procrasdonate.com" target="_blank">Vote</a> for your favorite new <b>features</b>.
	</h3>
	<p>
		Our <a href="http://feedback.procrasdonate.com" target="_blank">UserVoice</a> page lets you make, and vote on, suggestions for what we should do next.
	</p>
	
	<h3>
		6. Tell your <b>friends!</b>
	</h3>
	<p>
		<img style="width:6em" src="{{ MEDIA_URL }}img/laptophappy.png" />
		<img style="width:6em" src="{{ MEDIA_URL }}img/laptophappy.png" />
		<img style="width:6em" src="{{ MEDIA_URL }}img/laptophappy.png" />
	</p>
	
	