<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% comment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endcomment %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<title>Procrastinate Less. {% block window_title %}Procrastination incentives through giving.{% endblock %}</title>
		
		<link rel="shortcut icon" href="{{ MEDIA_URL }}img/ToolbarImages/ProcrasDonateIcon.png" type="image/x-icon" >

		{# <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.all.css"> #}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/procrasdonate.css">
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/adwords.css">
	
		<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-1.2.6.min.js"></script>
		{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/ui.core.js"></script> #}
	 	{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/ui.slider.js"></script> #}
		
		{# <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/json2.js"></script> #}
		<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/procrasdonate.js"></script>
		{% block head %}{% endblock %}

	</head>

	<body>
		<div id="content">
			<div id="download_page">
			
				<h2>
					{% ifequal group "FundraisingToolsCartoon" %}
						Thanks for your interest in community fundraising tools.
					{% endifequal %}
					{% ifequal group "FundraisingToolsList" %}
						Thanks for your interest in community fundraising tools.						
					{% endifequal %}
					{% ifequal group "GiftCardPersonal" %}
						Thanks for your interest in time management giftcards.				
					{% endifequal %}
					{% ifequal group "GiftCardTrial" %}
						Thanks for your interest in time management giftcards.
					{% endifequal %}
					{% ifequal group "GivingCircle" %}
						Thanks for your interest in giving circles!
					{% endifequal %}
					{% ifequal group "MatchingGift" %}
						Thanks for your interest in matching gifts!
					{% endifequal %}
					{% ifequal group "StudentIncentives" %}
						Thanks for your interest in study bonus incentives.
					{% endifequal %}
										
				</h2>
				<p>Unfortunately we're still developing this service.  But you'll be the first to find out when it's ready.</p>

				<div id="email_waiting_list">
					{% include 'procrasdonate/adwords/snippets/email_form.html' %}
				</div>
				
				<p>If you have any suggestions or ideas then email us as Service@ProcrasDonate.com.</p>
				<p>Thanks!</p>
								
			
			</div>
		</div>

		{# google analytics #}
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-2115025-7");
		pageTracker._trackPageview();
		} catch(err) {}</script>
		
	</body>

</html>
