{% extends 'procrasdonate/adwords/adwords_base.html' %}

{% block descriptive_text %}
    <h2>Custom tools for online fundraising campaigns.</h2>
{% endblock %}

{% block screen_shot %}
    <img src="{{ MEDIA_URL }}img/adword_screenshots/CommunityFundraising1.png" />
{% endblock %}

{% block advertising_text_1 %}
    <h1>Fundraising isn't fun - but we make it convenient.</h1>
    <h1>We'll help you plan, execute, and collect.</h1>
{% endblock %}

{% block action_button %}
	<a href="{% url adword_download_page adword_page %}">
		<img src="{{ MEDIA_URL }}img/adword_screenshots/StartNow.png" />						
	</a>
{% endblock %}

{% block advertising_text_2 %}
    <h1>Get your FREE checklist.</h1>
{% endblock %} 

