{% extends 'procrasdonate/adwords/adwords_base.html' %}

{% block descriptive_text %}
    <h2>Give them incentive to break the procrastination habit.</h2>
{% endblock %}

{% block screen_shot %}
    <img src="{{ MEDIA_URL }}img/adword_screenshots/GiftCardPersonal.png" />
{% endblock %}

{% block advertising_text_1 %}
	<h1>What happens when they waste an hour online?</h1>
	<h1>Part of their weekly gift balance transfers to charity!</h1>
{% endblock %}

{% block action_button %}
	<a href="{% url adword_download_page adword_page %}">
		<img src="{{ MEDIA_URL }}img/adword_screenshots/BuyNow.png" />						
	</a>
{% endblock %}

{% block advertising_text_2 %}
    <h1>Procrastination meters, charts, goals and feedback.
   </h1>
  
{% endblock %} 

