{% extends 'adwords/landing_page_base.html' %}

{% block descriptive_text %}
    <h2>Procrastinate less with a charitable incentive.</h2>
{% endblock %}

{% block screen_shot %}
    <img src="{{ MEDIA_URL }}img/adword_screenshots/GiftCard7.png" />
{% endblock %}

{% block advertising_text_1 %}
    <h1>Waste an hour?</h1>
    <h1>Donate to charity.</h1>
    <h1>Free Trial: give $10 to a good cause.</h1>
{% endblock %}

{% block action_button %}
	<img src="{{ MEDIA_URL }}img/adword_screenshots/FreeTrial.png" />						
{% endblock %}

{% block advertising_text_2 %}
    <h1>Time management meters, charts, goals and feedback!</h1>
{% endblock %} 

