{% extends 'adwords/landing_page_base.html' %}

{% block descriptive_text %}
    <h2>Procrastinate less with self-help metrics.</h2>
{% endblock %}

{% block screen_shot %}
    <img src="{{ MEDIA_URL }}img/adword_screenshots/Timelines.png" />
{% endblock %}

{% block advertising_text_1 %}
	<h1>
	Waste an hour online?
	</h1>
	<h1>Donate to a good cause.</h1>
	
{% endblock %}

{% block action_button %}
	<img src="{{ MEDIA_URL }}img/Download.png" />						
{% endblock %}

{% block advertising_text_2 %}
    <h1>Get stuff done.</h1>
{% endblock %} 

