{% extends 'adwords/landing_page_list_base.html' %}

{% block descriptive_text %}
    <h2>Wedding gift donation choices.</h2>
    <p>What charity registry options will help you make the most of your special day?</p>
{% endblock %}

{% block adword_list_element_one %}
	 <div class="adwords_list_image">
	 	<img src="{{ MEDIA_URL }}img/adword_screenshots/SimpleDonation.png" />
	 </div>	
{% endblock %}

{% block adword_list_description_one %}
	 <div class="adwords_list_description">
		 <p>Guests give directly to your favorite charities.</p>
	 </div>
{% endblock %}					
					
{% block adword_list_element_two %}
	 <div class="adwords_list_image">
    	<img src="{{ MEDIA_URL }}img/adword_screenshots/MatchLogo.png" />
	 </div>	
{% endblock %}

{% block adword_list_description_two %}
	 <div class="adwords_list_description">
	 	Guests can match each other's gifts to increase their charitable impact.
	 </div>
{% endblock %}	

{% block adword_list_element_three %}
	 <div class="adwords_list_image">
    	<img src="{{ MEDIA_URL }}img/adword_screenshots/GivingCircleWedding.png" />	 
	 </div>	
{% endblock %}

{% block adword_list_description_three %}
	 <div class="adwords_list_description">
	 	Guests can create or join online social giving groups.
	 </div>
{% endblock %}	

{% block adword_list_element_four %}
	 <div class="adwords_list_image">
    	<img src="{{ MEDIA_URL }}img/adword_screenshots/LaptopLogoBluePurple.png" />
	 </div>	
{% endblock %}

{% block adword_list_description_four %}
	 <div class="adwords_list_description">
	 	Guests donate when they spend time on websites they've marked as ProcrasDonation.
	 </div>
{% endblock %}	

{% block adword_list_element_five %}
	 <div class="adwords_list_image">
 	 	<img src="{{ MEDIA_URL }}img/adword_screenshots/MonthlyPromise.png" />
	 </div>	
{% endblock %}

{% block adword_list_description_five %}
	 <div class="adwords_list_description">
		Guests can authorize small regular donations to be made automatically.
	 </div>
{% endblock %}	
